// good_look
.good_look{margin-top: -16px;background-color: white;padding-top: 5px;
    .good_look_wrap{/*width: 1280px;*/margin: 0 -55px;}
    .good_grid{margin: 0 auto;
        .good_grid_item{width: 316px;position: relative;margin-bottom: 4px;
            a{display: block;}
            &:hover{
                &:after{opacity: 1;}
                .good_text{opacity: 1;transform: translate(-50%, -50%) scale(1);}
            }
            &:after{position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: 0;background-color: rgba(0,0,0, .75);opacity: 0;transition:opacity ease .3s;content: '';pointer-events:none;}
            .good_img{}
            .good_text{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%) scale(.90);color: white;text-align: center;width: 100%;padding: 0 10px;z-index: 2;transition:opacity ease .2s,transform ease .4s;opacity: 0;
                p{margin: 0;font-weight: 300;font-size: 23px;margin-bottom: 8px;}
                span{font-size: 13px;color: rgba(255,255,255, .62);}
            }
        }
    }
}
// fliter top catalog
.good_filter_catalog{margin-bottom: 0px;padding-top: 37px;
    .good_filter_catalog_row{display: flex;align-items: center;justify-content: space-between;margin-bottom: 34px;
        &.next{align-items: flex-start;margin-bottom: 0;justify-content: flex-start;
            .good_filter_catalog_item{margin-right: 29px;
                &:last-child{margin-right: 0;}
            }
            .good_filter_catalog_title{min-width: auto;}
        }
        .good_filter_catalog_radio_button{display: flex;align-items: center;color: #000000;font-size: 13px;font-weight: 300;
            &:nth-child(2){padding-right: 34px;}
        }
        .good_filter_catalog_title{font-weight: bold;font-size: 15px;color: #010101;margin-right: 13px;}
        .good_filter_catalog_radio{
            label{margin: 0 8px;}
        }
        // 2-th row
        .good_filter_catalog_item_wrap{position: relative;}
        .good_filter_catalog_item_subtitl{font-weight: 600;font-size: 15px;margin-bottom: 20px;color: #010101;}
        .good_filter_catalog_item{display: flex;flex-direction:column;min-width: 128px;position: relative;
            .good_filter_catalog_price_range_wrap{width: 90px;margin:4px auto 10px;position: relative;cursor: pointer;}
            .noUi-horizontal{height: 4px;background-color: #e0e0e0;border-radius: 0;box-shadow: none;border:none;
                &:after{position: absolute;top: 0;height: 100%;left: -5px;width: 10px;content: '';    background-color: #e0e0e0;}
                .noUi-handle{width: 5px;height: 10px;background:#000;border:none;box-shadow: none;border-radius: 0;top: 0px;top: -3px;
                    &:after,&:before{display: none;}
                }
                .noUi-base{right: -12px;}
            }
            .good_filter_catalog_price_input{text-align: center;border:none;font-size: 12px;}
            .good_filter_catalog_price_minus{position: absolute;width: 14px;height: 14px;top: 1px;left: -21px;padding: 2px;
                &:after{width: 10px;height: 2px;content: '';left: 0;top: 0px;background-color: #000;position: absolute;cursor: pointer;}
            }
            .good_filter_catalog_price_plus{position: absolute;width: 14px;height: 14px;top: 1px;right: -21px;padding: 2px;
                &:after,&:before{width: 10px;height: 2px;content: '';left: 0;top: 0px;background-color: #000;position: absolute;cursor: pointer;}
                &:before{transform: rotate(90deg);}
            }
        }
    }
}

.good_filter_catalog_item_color{width: 128px;display: flex;align-items: flex-start;justify-content: flex-start;flex-wrap: wrap;
    label{position: relative;overflow: hidden;margin-right: 2px;margin-bottom: 2px;cursor: pointer;
        input{font-size: 0;opacity: 0;position: absolute;
            &:checked + span{border-color: #bdbdbd;}
        }
        span{height: 15px;width: 16px;display: inline-block;border:1px solid transparent;}
    }
}
// radio button
.jq-radio{width: 10px;height: 10px;border-color: #8d8d8d;background: #fff;box-shadow: none;margin: 0 1px 0 0;
    &.focused{border-color: rgba(255, 0, 0, 0.29);}
    &.checked{
        .jq-radio__div{width: 4px;height: 4px;margin: 2px 0 0 2px;background:#000;}
    }
}

// selectbox
.jq-selectbox:not(.good_user_logined_select):not(.good_select_has_img){
    .jq-selectbox__select{min-width:147px;background: #fff;border:1px solid #d1d1d1;border-radius: 0px;box-shadow: none;text-shadow:none;height: 29px;font-family: "Open Sans",sans-serif;font-weight: 300;color: #010101;    padding: 0 15px 0 7px;line-height: 28px;
        .jq-selectbox__trigger{width: 15px;border-left: none;
            .jq-selectbox__trigger-arrow{right: 4px;top: 12px;border-top: 4px solid #000;border-right: 4px solid transparent;border-left: 4px solid transparent;}
        }
    }
    li:hover{background-color: rgba(255, 0, 0, 0.29);}
    .jq-selectbox__dropdown{border-radius: 0px;box-shadow: none;}
}

// checkbox
.good_checkbox.jq-checkbox{width: 16px;height: 15px;border:1px solid #000;border-radius: 0;background: #fff;box-shadow: none;
    .jq-checkbox__div{background:transparent url('../images/good-galochka.png') center center no-repeat;box-shadow: none;margin: 0;border-radius: 0; width: 13px;}
}

// good_center_tab
.good_center_tab{margin-bottom: 40px;
    .good_center_tab_title{font-family: "Open Sans";font-weight: 300;font-size: 35px;color: #010101;margin: 30px 0px;}
    .good_center_tab_list{position: relative;overflow: hidden;
        &:after{position: absolute;background-color: #d7d7d7;width: 100%;bottom: 0;left: 0;height: 1px;content: '';}
        ul{list-style-type: none;padding: 0;margin: 0;display: flex;position: relative;z-index: 2;}
        li{border:1px solid #d7d7d7;border-right: none;background-color: #fff;
            &:last-child{border-right:1px solid #d7d7d7;}
            &.active{border-bottom: none;}
        }
        a{height: 36px;padding: 0 13px;display: flex;align-items: center;justify-content: center;font-size: 15px;font-weight: bold;color: #010101;text-decoration: none;}
    }
}

// options  -  Rewievs page
.good_customer_reviews{
    .good_mbox{border-bottom: 1px solid #eeeeee;}
    .good_customer_reviews_wrap{margin-bottom: 30px;}
    .good_row{display: flex;flex-wrap: wrap;margin-bottom: 20px;
        &:last-child{margin-bottom: 0;}
        &:hover{
            .good_customer_reviews_button{opacity: 1;}
        }
        .good_customer_reviews_img{height: 97px;width: 97px;position: relative;overflow: hidden;
            img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width: none;min-height: 100%;min-width: 100%;border-radius: 50%;overflow: hidden;}
        }
        .good_customer_reviews_button{opacity: 0;transition: all ease .2s;}
        .good_customer_reviews_description{width: calc(100% - 97px);padding-left: 18px;display: flex;flex-direction:column;
            &>.good_row{margin-bottom: 10px;}
            .good_customer_reviews_name{margin-bottom: 15px;padding-top: 4px;
                b{font-weight: 600;font-size: 15px;color: #010101;}
            }
            .good_customer_reviews_text{font-size: 15px;color: rgb(0, 0, 0);line-height: 1.667;margin-bottom: 20px;
                p{margin: 0;}
            }
            .good_customer_reviews_rating{display: flex;margin-bottom: 33px;
                .good_customer_reviews_rating_item{display: flex;align-items: center;margin-right: 40px;
                    b{font-weight: 600;font-size: 15px;color: #010101;margin-right: 8px;}
                }
                .good_customer_reviews_rating_item_star{display: flex;
                    .good_star{width: 18px;height: 16px;background:transparent url('../images/good_customer_reviews_rating_item_star.png') right top no-repeat;overflow: hidden;
                        &.good_active{background:transparent url('../images/good_customer_reviews_rating_item_star.png') left top no-repeat;}
                    }
                }
            }
        }
    }
}

//good_options_change_pass page
.good_options_change_pass{
    .good_form_row{display: flex;align-items: center;margin-bottom: 14px;
        &.error{
            input{border-color: red !important}
        }
        .good_item_left{width: 207px;padding-right: 10px;font-size: 15px;font-weight: 300;}
        .good_item_right{width: 216px;
            input{border:1px solid #d1d1d1;padding: 0 10px;height: 29px;font-weight: 300;}
        }
    }
    .good_form_submit{
        button{height: 34px;min-width: 150px;background-color: #fff;
            &:hover{background-color: #000;}
        }
    }
}

// good_options_notice
.good_options_notice{font-weight: 300;font-size: 15px;color: #000000;
    p{margin: 0px 0px 15px;}
    .good_form_row{display: flex;align-items: center;width: 100%;max-width: 480px;justify-content: space-between;padding: 13px 0;padding-right: 10px;
        &.good_border{border-bottom: 1px solid #d7d7d7;}
        &:first-child,&:last-child{border-bottom: none;}
        &::selection{display: none;}
         span::selection,.good_item_left::selection{display: none;}
    }
    .good_form_submit{padding-top: 30px;
        button{height: 34px;min-width: 150px;background-color: #fff;
            &:hover{background-color: #000;}
        }
    }
}

// good_about_service
.good_about_service{
    ul{margin: 0;padding: 0;list-style-type: none;}
    .good_about_service_title{font-size: 35px;color: rgb(1, 1, 1);line-height: 1.714;text-align: center;padding: 42px 0px;font-weight: 300;}
    .good_about_service_table{
        .good_about_service_head{display: flex;align-items: center;justify-content: space-between;padding: 11px 0px;border-top: 1px solid;border-bottom: 1px solid #000;
            .good_about_service_head_title{color: #010101;font-weight: bold;font-size: 17px;}
            .good_about_service_head_icon{display: flex;align-items: center;
                a{text-decoration: none;margin: 0 8px 0 11px;}
            }
        }
    }
    .good_about_service_body{display: flex;
        .good_about_service_left{width: 260px;border-right: 1px solid #000;padding-top: 15px;
            li{font-weight: 600;font-size: 13px;color: #000;padding-right: 10px;margin-bottom: 10px;
                span{cursor:pointer;}
            }
        }
        .good_about_service_right{width: calc(100% - 260px);padding-left: 35px;padding-bottom: 20px;padding-top: 20px;
            b{font-size: 20px;color: #010101;font-weight: bold;margin: 17px 0px 37px;display: block;}
            p{font-size: 15px;font-weight: 300;color: #000;line-height: 1.667;}
        }
    }
}

// good_score
.good_score{
    .good_score_wrap{padding-top: 40px;padding-bottom: 100px;border-bottom: 2px solid #f7f7f7;}
    .good_score_title_row{display: flex;align-items: center;flex-wrap: wrap;margin-bottom: 30px;
        &.good_row_3{align-items: flex-end;
            .good_score_title{margin-right: 50px;}
        }
        &>p{margin: 0;font-size: 15px;color: rgb(0, 0, 0);line-height: 1.667;}
        .good_score_title{font-weight: 300;font-size: 35px;color: #010101;margin-right: 30px;}
        a:not([class]){font-weight: 600;font-size: 14px;color: #000;
            &:hover{text-decoration: none;}
        }
        .good_button{height: 34px;padding: 7px 13px 6px 15px;margin-right: 30px;}
        .good_score_title_select{margin: 0 11px;
            .jq-selectbox__select{min-width: 180px;}
        }
    }
    .good_score_button{
        .good_button{height: 34px;padding: 7px 13px 6px 15px;}
    }
}
.good_score_table{font-size: 13px;font-weight: 300;color: #000;background-color: #fff;margin-bottom: 33px;
    .good_score_table_head{
        .good_score_table_row{min-height: 37px;border:none;padding: 0;align-items: flex-start;
            b{font-weight: 600;}
            &:last-child{border-bottom: none;}
        }
    }
    .good_score_table_body{}

    .good_score_table_row{min-height: 60px;padding: 6px 0px;border-top: 1px solid #d7d7d7;display: flex;align-items: center;
        &:last-child{border-bottom: 1px solid #d7d7d7;}
    }
    .good_score_table_cell{line-height: 1.154;padding-right: 5px;
        img{max-width: 47px;}
        &:nth-child(1){width: 83px;padding-right: 25px;}
        &:nth-child(2){width: 108px;}
        &:nth-child(3){width: 127px;}
        &:nth-child(4){width: 436px;}
    }
}

// recharge
.good_recharge{
    .good_recharge_wrap{padding-bottom: 75px;border-bottom: 2px solid #f7f7f7;
        .good_recharge_title{font-weight: 300;font-size: 35px;color: #010101;margin: 40px 0px;}
        .good_recharge_table{margin-bottom: 65px;
            .good_recharge_row{display: flex;align-items: center;margin-bottom: 19px;
                &:last-child{margin-bottom: 0;}
                &:nth-child(2){
                    .good_icon{background:transparent url('../images/good_recharge_icon_2.png') left center no-repeat;}
                }
                &:nth-child(3){
                    .good_icon{background:transparent url('../images/good_recharge_icon_3.png') left center no-repeat;width: 20px;}
                }
                .good_recharge_item{font-weight: 300;font-size: 15px;color: #000000;margin-right: 18px;}
                .good_button{height: 34px;padding: 0;display: flex;align-items: center;justify-content: center;width: 444px;font-size: 15px;font-weight: 300;
                    &:hover{
                        .good_icon{background-position: right center;}
                    }
                }
                .good_icon{height: 21px;width: 21px;background:transparent url('../images/good_recharge_icon_1.png') left center no-repeat;margin-right: 15px;display: inline-block;transition:all ease .1s;}
            }
        }
        .good_recharge_bottom{padding-left: 25px;border-left: 2px solid #ff0000;font-size: 15px;color: #000000;font-weight: 300;
            p{margin: 0;margin-bottom: 12px;}
            .good_recharge_bottom_form_wrap{border:1px solid #e5e5e5;min-height: 67px;padding: 5px 17px;max-width: 373px;display: flex;align-items: center;justify-content: space-between;
                input{height: 36px;width: 103px;border:1px solid #e5e5e5;padding: 5px 10px;-moz-appearance: textfield;
                    &.error{border-color: red;}
                    &::-webkit-outer-spin-button,&::-webkit-inner-spin-button{-webkit-appearance: none;margin: 0;}

                }
            }
        }
    }
}

// good_items_list
.good_items_list{
    .good_center_tab{
        .good_center_tab_title{display: flex;align-items: center;
            p{margin: 0;}
            .good_button{height: 34px;padding: 7px 13px 6px 15px;margin-left: 30px;}
        }
    }
    .good_items_list_table{
        .good_score_table_head{margin-bottom: 29px;
            .good_score_table_row{height: 34px;align-items: center;
                .good_button{height: 34px;padding: 7px 13px 6px 15px;}
                &:last-child{border-bottom: none;}
            }
        }
        .good_score_table_body{}
        .good_score_table_row{}

        .good_score_table_cell{
            img{max-width: 47px;}
            p{font-size: 13px;color: rgb(0, 0, 0);line-height: 1.385;margin: 0;
                b{font-weight: 600;}
            }
            &:nth-child(1){width: 35px;padding-right: 0px;}
            &:nth-child(2){width: 66px;}
            &:nth-child(3){width: 66px;}
            &:nth-child(4){width: 275px;}
            &:nth-child(5){width: 68px;}
            &:nth-child(6){width: 385px;margin-right: 15px;}
        }
        .good_score_button_radio{display: flex;align-items: center;justify-content: space-around;
            label{position: relative;overflow: hidden;display: flex;align-items: center;justify-content: center;text-align: center;cursor: pointer;
                input{position: absolute;font-size: 0;opacity: 0;
                    &:checked + span{background-color: #000;color: #fff;}
                }
                span{height: 31px;padding: 0 13px;background-color: #fff;border:1px solid #000;font-weight: 600;font-size: 13px;display: flex;align-items: center;justify-content: center;}
            }
        }
    }
    .good_score_bottom_all{display: flex;align-items: center;padding-top: 28px;
        &>*{margin-right: 15px;}
    }
}