/*other-trader-items------------------------------------------------------*/
    .good_other-items{
        .good_other-items-wrap{}
        .good_title{ width: 100%; text-align: center;
            h3{ font:300 35px/1.26 'Open Sans'; color: #010101;}
        }
        .good_items-wrap{ display: flex; justify-content:flex-start; flex-wrap: wrap;    padding-top: 24px;}
        .good_item{ width: 261px; display: block; text-decoration: none;
            &:hover{
                .good_img:before{ opacity:1;}
            }
        }
        .good_img{ position: relative; width: 100%; height: 315px; overflow: hidden;
            img{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);max-width: none;}
            &:before{ content: attr(data-hover); background-color: rgba(0,0,0,0.75); font:300 20px/1.26 'Open Sans'; color: #fff; position: absolute; width: 100%; height: 100%; left: 0; top: 0; text-align: center; z-index: 10; padding-top: 150px; opacity: 0; transition: opacity 300ms;}
        }
        .good_txt{padding: 27px 10px 0;
            .good_name{font:600 14px/1.26 'Open Sans'; color: #010101; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: 7px;}
            .good_price{font:300 14px/1.26 'Open Sans'; color: #010101; width: 100%; text-align: center;}
        }
    }

/*END other-trader-items------------------------------------------------------*/
/*services-items------------------------------------------------------*/
    .good_services-items{
        .good_services-items-wrap{display: flex; justify-content:flex-start; flex-wrap: wrap;}
        .good_services-one-item{ width: 202px; display: block;  text-decoration: none;margin-right: 31px;   margin-bottom: 42px;
            &:nth-child(4n){ margin-right: 0;}
        }
        .good_img{ height: 244px; position: relative; width: 100%; overflow: hidden;border: 1px solid #ebebeb;
            img{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);max-width: none;}
            .good_top{ position: absolute; width: 100%; height: 100%; left: 0; top: 0;
                p{border-radius: 50%; background-color: #676767; width: 30px; height: 30px;font:300 12px/30px 'Open Sans'; color: #fff; text-align: center; position: absolute; bottom: 6px; right: 10px; margin: 0;}

            }
        }
        .good_txt{padding: 16px 10px 0;
            .good_name{font:600 14px/1.26 'Open Sans'; color: #010101; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: 7px;}
            .good_price{font:300 14px/1.26 'Open Sans'; color: #010101; width: 100%; text-align: center;}
        }
    }

/*END services-items------------------------------------------------------*/
/*options panel------------------------------------------------------*/
    .good_options-panel-white{
        .good_panel{border-top: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7; position: relative;}
        .good_left{padding: 20px 0 24px 13px;
            a{ display: inline-block; text-decoration: none; color: #1f1f1f;font:400 italic 15px/1.26 'Open Sans';letter-spacing: 1px; margin-right: 76px;
                img{vertical-align: top; margin-top: 2px; margin-right: 10px;}
                &:hover{ text-decoration: underline; color: #ccc;}
            }
        }
        .good_right{ position: absolute; top: 0; right: 0; height: 100%; width: 363px; padding: 21px 0 0 26px;
            &:before{content: ''; left: 0; top: 11px; width: 1px; height: 41px; background-color: #d7d7d7; display: block; position: absolute;}
            .good_money{ color: #454545; font:600 13px/1.26 'Open Sans'; display: inline-block;letter-spacing: 0.7px;
                b{color: #000; font:700 15px/1.26 'Open Sans';}
            }
            .good_button{ position: absolute; right: 14px; top: 18px;padding: 4px 13px 6px 15px;}
        }
    }

/*END options panel------------------------------------------------------*/
/* button------------------------------------------------------*/
.good_button{ font:600 14px/1.26 'Open Sans'; color: #000; border:1px solid #434343; text-decoration: none; transition: all 300ms;letter-spacing: 0.7px;
        &:hover{ background-color: #434343; color: #fff;}
}

/*END button------------------------------------------------------*/