/* footer */

    .good_footer{
        .good_footer_wrap{display: flex;justify-content: space-between;align-items: flex-start;padding:65px 0 45px 0;

            ul{list-style: none;padding:0;margin: 0;
                li{margin-bottom: 21px;
                    &:last-child{margin-bottom: 0;}
                }
                a{text-transform: uppercase;color:#000;text-decoration: none;font-size: 15px;transition:color 300ms ease;
                    &:hover{color:#ff0000;}
                }
            }

            .good_footer_right{
                .good_footer_socials{margin-bottom: 14px;
                    a{display: inline-block;text-decoration: none;margin-right: 7px;transition:opacity 300ms ease;
                        &:last-child{margin-right: 0;}
                        &:hover{opacity:.6;}
                    }
                }
                .good_footer_copyright{font-size: 12px;color:#010101;}
            }

        }
    }

/* /footer */

/* breadcrumbs */

    .good_breadcrumbs{padding:10px 0;
        ul{list-style:none;padding: 0;margin: 0;color:#000;font-size: 12px;
            li{padding-right: 10px;position: relative;display: inline-block;
                &:last-child{padding-right: 0;
                    &:after{display: none;}
                }
                &:after{content:'<';display: block;position: absolute;right: 1px;top:0;font-family: 'Open Sans', sans-serif;}
                a{text-decoration: none;color:#000;transition:color 300ms ease;
                    &:hover{color:#ff0000;}
                }
            }
        }
    }

/* /breadcrumbs */

/* main-wrap for pages with left & right columns */

    .good_main_wrap{
        .good_mbox{display: flex;justify-content: space-between;align-items: flex-start;}
        .good_left_column{width: 260px;padding-right: 5px;}
        .good_right_column{width: calc(100% - 260px);}
    }

/* /main-wrap for pages with left & right columns */

/* left-column links styles */

    .good_left_column_links{

        .good_left_column_links_title{font-weight: 700;font-size: 17px;margin-bottom: 25px;}

        .good_left_column_links_wrap{margin-bottom: 35px;
            &:last-child{margin-bottom: 0;}

            a{color:#000;text-decoration: none;transition:color 300ms ease;
                &:hover{color:#ff0000;}
            }

            .good_left_column_link_subtitle{margin-bottom: 5px;
                a{text-decoration: none;font-weight: 600;font-size: 15px;}
            }

            ul{margin: 0;list-style: none;padding:10px 0 0 0;
                li{margin-bottom: 10px;padding-left:15px;
                    a{font-weight: 300;letter-spacing:-0.1px;}

                    &.good_second_level{position: relative;
                        .good_second_level_icon{display: block;position: absolute;left:2px;top:4px;width: 0;height: 0;border-width: 4px 4px 4px 0;border-style:solid;border-color:transparent #000 transparent transparent;transform-origin:0 50%;transition:all 300ms ease;
                            &.active{transform:rotate(-90deg) translateZ(0px);top:6px;}
                        }
                        ul{display: none;}
                    }

                }
            }

        }

    }

/* /left-column links styles */

/* header */

    .good_header{margin-bottom: 15px;

        .good_header_wrap{padding-bottom: 38px;border-bottom: 1px solid #ebebeb;}

        .good_header_top, .good_header_bottom, .good_header_top_right, .good_header_user_control, .good_header_likes, .good_header_nav ul{display: flex;align-items: center;justify-content: space-between;}

        .good_header_top{padding:35px 0 25px;}

        .good_header_top_right{

            a{color:#010101;font-size: 14px;font-weight: 300;text-decoration: none;transition:color 300ms ease;
                &:hover{color:#ff0000;}
            }

            .good_header_search{position: relative;margin: 0 10px;
                .good_search_form{position: absolute;z-index: 1;width: 0;overflow: hidden;transition:width 300ms ease;right:0;top:0;
                    input{width: 100%;border:1px solid #ccc;padding: 5px 29px 5px 10px;border-radius:2px;transition:all 300ms ease;
                        &.error{border-color:#ff0000;}
                    }

                    .good_search_submit{position: absolute;right: 0;top:0;
                        button{height: 34px;opacity: 0;border:none;background-color:transparent;padding:0 5px;margin: 0;transition:opacity 300ms ease 300ms;}
                    }

                }
                .good_header_search_icon{position: relative;z-index: 0;height: 34px;padding:0 5px;display: flex;justify-content: center;align-items: center;cursor: pointer;}

                &.active{
                    .good_search_form{width: 300px;
                        .good_search_submit{
                            button{opacity: 1;}
                        }
                    }
                }
            }
        }

        .good_header_likes{cursor: pointer;margin-left: 23px;
            .good_likes_value{color:#010101;font-size: 15px;margin-left: 3px;transition:color 300ms ease;}
            .good_likes_img{transition:opacity 300ms ease;}
            &:hover{
                .good_likes_value{color:#ff0000;}
                .good_likes_img{opacity: .5;}
            }
        }

        .good_user_logined{margin: 0 15px;
            .jq-selectbox.good_user_logined_select{width: 100px;
                .jq-selectbox__select{padding:0 20px 0 10px;border:none;background:none;box-shadow:none;}
                .jq-selectbox__trigger{width: 20px;border:none;}
                .jq-selectbox__trigger-arrow{border-top:5px solid #000;right:calc(50% - 5px);}
                li{
                    &:hover{background-color: rgba(255, 0, 0, 0.29);}
                    &.sel{background-color: #a3abb1;color:#fff;}
                }
            }
        }

        .good_header_bottom{

            .good_header_nav{
                ul{list-style:none;padding:0;margin: 0;}
                li{margin-right: 45px;
                    &:last-child{margin-right: 0;}
                }
                a{font-weight: 700;color:#010101;font-size: 17px;text-decoration: none;transition:color 300ms ease;
                    &:hover{color:#ff0000;}
                }
            }

            .good_sell_item{
                .good_button{min-width: 161px;display: inline-block;text-align: center;padding:8px 0;}
            }

        }

    }

/* /header */

/* good_select_has_img */

    .jq-selectbox.good_select_has_img{
        .jq-selectbox__select, .jq-selectbox__select-text{display: flex;align-items: center;}
        .jq-selectbox__select{background:none;border:none;box-shadow:none;padding:0 20px 0 10px;}
        .jq-selectbox__trigger{width: 20px;border-left:none;}
        .jq-selectbox__trigger-arrow{border-top:5px solid #000;left:calc(50% - 5px);}
        li{
            &:hover{background-color:rgba(255, 0, 0, 0.29);}
            &.sel{background-color: #a3abb1;}
        }
    }

/* /good_select_has_img */

/* catalog-items */

    .good_other-items{
        &.good_catalog-items{padding-top: 35px;
            .good_item{margin-bottom: 43px;width: 200px;margin-right:36px;
                &:nth-child(4n){margin-right: 0px;}
                .good_img{height: 297px;overflow: hidden;
                    img{max-width: none;min-width: 100%;min-height: 100%;}
                }
            }
        }
    }

/* /catalog-items */

/* cards */

    .good_card{padding-top: 40px;
        .good_mbox{display: flex;align-items: flex-start;justify-content: space-between;

            .good_left{width: calc(100% - 620px);

                .good_slider_wrap{display: flex;align-items: flex-start;justify-content: space-between;margin-bottom: 15px;
                    .good_slider_big{width: calc(100% - 75px);margin-bottom: 0;}
                    .good_slider_small{width: 70px;margin-bottom: 0;
                        .good_slider_small_img{width: 70px;height: 85px;overflow:hidden;position: relative;border:1px solid transparent;margin-bottom: 3px;
                            &.slick-current{border-color:#cccccc;}
                            img{position: absolute;min-width: 100%;min-height: 100%;max-width: none;left: 50%;top:50%;transform:translate(-50%, -50%);}
                        }
                    }
                }

                .good_slider_bottom_info{color:#000;font-weight: 300;font-size: 12px;line-height: 1.5;margin-bottom: 25px;
                    p{margin: 0;}
                }

                .good_share{display: flex;align-items: center;justify-content: flex-start;margin-bottom: 35px;
                    .good_share_text{font-weight: 600;font-size: 15px;color:#010101;margin-right: 5px;}
                    .good_share_socials{
                        a{text-decoration: none;display: inline-block;margin: 0 5px;transition:opacity 300ms ease;
                            &:hover{opacity: .5;}
                        }
                    }
                }

                .good_card_left_descript{color:#010101;font-size: 15px;margin-bottom: 30px;font-weight: 300;
                    p{margin:0 0 10px 0;line-height: 1.66;
                        b{font-weight: 600;}
                    }
                }

                .good_card_complain_button{
                    .good_button{min-width: 147px;padding:7px 13px 8px 15px;}
                }

            }

            .good_right{width: 585px;margin-right: -35px;

                .good_card_title{text-align: center;margin-bottom: 20px;
                    p, h2{margin: 0;font-weight: 300;font-size: 35px;line-height: 1.35;}
                }
                .good_card_price{text-align: center;color:#000;font-size: 25px;font-weight: 600;margin-bottom: 50px;
                    span{font-weight: 300;padding:0 5px;position: relative;display: inline-block;margin-right: 5px;
                        &:before{content:'';display: block;position: absolute;width: 100%;height: 1px;background-color: #000000;left:0;top:50%;}
                    }
                }

                .good_card_trader_info{display: flex;justify-content: space-between;align-items: flex-start;margin-bottom: 20px;
                    .good_card_trader_foto{width: 93px;height: 93px;position: relative;overflow: hidden;
                        &:before{content:attr(data-text);position: absolute;top:0;left:0;width: 100%;height: 100%;background-color: #dedede;display: flex;align-items: center;justify-content: center;color:#fff;font-size: 14px;font-weight: 600;}
                    }
                    .good_card_trader_center{color:#010101;font-size: 15px;
                        p{margin: 0 0 10px 0;
                            &:last-child{margin-bottom: 0;}
                            b{font-weight: 600;}

                            a{color:#010101;font-size: 15px;transition:color 300ms ease;
                                &:hover{color:#ff0000;}
                            }

                        }
                    }
                    .good_card_trader_right{color:#010101;
                        .good_card_trader_right_row{display: flex;align-items: center;margin-bottom: 10px;
                            &:last-child{margin-bottom: 10px;}
                            .good_card_trader_right_text{font-weight: 600;font-size: 15px;padding-right: 5px;position: relative;z-index: 0;
                                span{position: absolute;left: 100%;display: inline-block;top:0px;cursor: pointer;text-decoration: underline;font-weight: 300;}
                            }
                            .good_card_trader_value{position:relative;z-index:1;opacity: 0;pointer-events:none;transition:opacity 300ms ease;}

                            &.good_active{
                                .good_card_trader_right_text{
                                    span{opacity: 0;pointer-events:none;}
                                }
                                .good_card_trader_value{opacity: 1;pointer-events:auto;}
                            }

                            .good_card_trader_right_stars{display: flex;align-items: center;justify-content: flex-start;
                                span{display: block;width: 15px;height: 16px;background-image:url(../images/good-star-gray.png);background-repeat: no-repeat;margin-right: 2px;
                                    &:last-child{margin-right: 0;}
                                    &.good_active{background-image:url(../images/good-star-red.png);}
                                }
                            }
                        }
                    }
                }

                .good_card_trader_connect{
                    p{margin: 0;color:#010101;font-size: 15px;font-weight: 300;margin-bottom: 25px;
                        b{font-weight: 600;}
                    }
                    .good_connect_button_wrap{margin-bottom: 55px;
                        .good_button{min-width: 184px;padding:7px 13px 8px 15px;}
                    }
                }

                .good_card_item_info{margin-bottom: 10px;display: flex;justify-content: space-between;align-items: flex-start;
                    .good_card_item_info_left{width: 220px;padding-right: 5px;
                        p{margin: 0 0 10px 0;font-size: 15px;font-weight: 300;
                            b{font-weight: 600;}
                            &:last-child{margin: 0;}
                        }
                    }
                    .good_card_item_info_right{width: calc(100% - 220px);
                        .good_card_item_info_right_row{display: flex;align-items: flex-start; justify-content: flex-start;flex-wrap: wrap;margin-bottom: 10px;
                            .good_card_item_info_right_col{width: 50%;
                                p{margin: 0;font-weight: 600;font-size: 15px;color:#010101;}
                            }
                            &:last-child{margin-bottom: 10px;}
                        }
                    }
                }
                .good_card_item_info_bottom{margin-bottom: 10px;
                    p{margin: 0;font-size: 15px;font-weight: 300;color:#010101;
                        b{font-weight: 600;}
                    }
                }

                .good_card_descript{padding-top: 40px;margin-bottom: 50px;
                    .good_card_descript_item{margin-bottom: 40px;font-size: 15px;color:#010101;font-weight: 300;line-height: 1.66;
                        &:last-child{margin-bottom: 0;}

                        p{margin: 0 0 10px 0;
                            b{font-weight: 600;}
                            &:last-child{margin-bottom: 0;}
                        }

                    }
                }

                .good_card_buttons{margin-bottom: 45px;
                    .good_button{padding:7px 13px 8px 15px;min-width: 147px;margin-right: 16px;
                        img{margin-right: 3px;}
                        &.good_black{min-width: 180px;margin-right: 0;}
                    }
                }

                .good_card_right_bottom{font-size: 15px;font-weight: 300;
                    p{margin: 0 0 10px 0;line-height: 1.66;
                        b{font-weight: 600;}
                        a{color:#010101;transition:color 300ms ease;
                            &:hover{color:#ff0000;}
                        }
                    }
                }

            }

        }
    }

/* /cards */

/* deferred */

    .good_deferred{padding-top: 40px;


        .good_title{font-weight: 300;font-size: 35px;color:#010101;margin: 0 0 28px 0;}

        .good_deferred_top{display: flex;align-items: center;justify-content: flex-start;

            .good_deferred_chose_all{margin-right: 33px;color:#000000;font-size: 14px;font-weight: 600;position: relative;bottom:-1px;}
            .good_checkbox{
                &.jq-checkbox{top:-2px;margin-right: 8px;}
            }

            .good_deferred_remove_chosen{
                .good_button{min-width: 194px;padding:7px 13px 8px 15px;}
            }

        }

        .good_other-items{

            .good_items-wrap{padding-top: 40px;}

            .good_item{width: 207px;margin-right: 33px;
                &:nth-child(4n){margin-right: 33px;}
                &:nth-child(5n){margin-right: 0;}
            }
            .good_img{display: block;height: 250px;
                &:before{display:flex;align-items: center;justify-content: center;padding-top: 0;}
            }
        }

    }

/* /deferrred */