<section class="good_card">
    <div class="good_mbox">

        <div class="good_left">

            <div class="good_slider_wrap">

                <div class="good_slider_big">
                    <div class="good_slider_big_img">
                        <img src="images/slider-big-img1.jpg" alt="" />
                    </div>
                    <div class="good_slider_big_img">
                        <img src="images/slider-big-img1.jpg" alt="" />
                    </div>
                    <div class="good_slider_big_img">
                        <img src="images/slider-big-img1.jpg" alt="" />
                    </div>
                </div>

                <div class="good_slider_small">
                    <div class="good_slider_small_img">
                        <img src="images/slider-small-img1.jpg" alt="" />
                    </div>
                    <div class="good_slider_small_img">
                        <img src="images/slider-small-img2.jpg" alt="" />
                    </div>
                    <div class="good_slider_small_img">
                        <img src="images/slider-small-img3.jpg" alt="" />
                    </div>
                </div>

            </div>

            <div class="good_slider_bottom_info">
                <p>Объявление №1233, Размещено |  Показов: всего 7, сегодня 1</p>
                <p>Просмотров: всего 0, сегодня 1 </p>
            </div>

            <div class="good_share">
                <div class="good_share_text">Поделиться:</div>
                <div class="good_share_socials">
                    <a href="#" class="good_soc_item">
                        <img src="images/soc1.png" alt="" />
                    </a>
                    <a href="#" class="good_soc_item">
                        <img src="images/soc2.png" alt="" />
                    </a>
                </div>
            </div>

            <div class="good_card_left_descript">
                <p>
                    <b>Условия возврата:</b>
                    <p>Срок возврата товара в магазин зависит от способа покупки и качества самого товара: одно дело, если решение о возврате или обмене</p>
                </p>
            </div>

            <div class="good_card_complain_button">
                <a href="#" class="good_button">
                    <span>Пожаловаться</span>
                </a>
            </div>

        </div>

        <div class="good_right">

            <div class="good_card_title">
                <p>Платье</p>
                <h2>COMPAGNIA ITALIANA</h2>
            </div>

            <div class="good_card_price">
                <span>€28,5</span> €25,5
            </div>

            <div class="good_card_item_main">
                <form class="good_card_item_main_form">

                    <div class="good_card_trader_info">

                        <div class="good_card_trader_left">
                            <div class="good_card_trader_foto" data-text="ФОТО"></div>
                        </div>

                        <div class="good_card_trader_center">
                            <p><b>Продавец:</b> Анна Пупкина</p>
                            <p><b>Дата регистрации:</b> 20.12.14</p>
                            <p><a href="#">Отзывы</a></p>
                        </div>

                        <div class="good_card_trader_right">
                            <div class="good_card_trader_right_row">
                                <div class="good_card_trader_right_text">Телефон:<span>показать</span></div>
                                <div class="good_card_trader_value">+375(99)999-99-9990</div>
                            </div>
                            <div class="good_card_trader_right_row">
                                <div class="good_card_trader_right_text">Skype:<span>показать</span></div>
                                <div class="good_card_trader_value">someSkype</div>
                            </div>
                            <div class="good_card_trader_right_row">
                                <div class="good_card_trader_right_text">Рейтинг:</div>
                                <div class="good_card_trader_right_stars">
                                    <span class="good_active"></span>
                                    <span class="good_active"></span>
                                    <span class="good_active"></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="good_card_trader_connect">
                        <p><b>Условие доставки:</b> лично или по почте</p>

                        <div class="good_connect_button_wrap">
                            <a href="#" class="good_button good_black">
                                <span>Написать продавцу</span>
                            </a>
                        </div>

                    </div>

                    <div class="good_card_item_info">

                        <div class="good_card_item_info_left">
                            <p><b>Бренд:</b> Zara</p>
                            <p><b>Состояние:</b> Б/у</p>
                            <p><b>Сезон:</b> лето</p>
                            <p><b>Приобретение:</b> На месте</p>
                        </div>

                        <div class="good_card_item_info_right">

                            <div class="good_card_item_info_right_row">
                                <div class="good_card_item_info_right_col">
                                    <p>Размер:</p>
                                </div>
                                <div class="good_card_item_info_right_col">
                                    <p>Цвет:</p>
                                </div>
                            </div>

                            <div class="good_card_item_info_right_row">

                                <div class="good_card_item_info_right_col">
                                    <select name="card_select" class="good_card_item_info_select" data-placeholder="Выберите размер">
                                        <option></option>
                                        <option value="size1">size1</option>
                                        <option value="size2">size2</option>
                                        <option value="size3">size3</option>
                                    </select>
                                </div>

                                <div class="good_card_item_info_right_col">
                                    <div class="good_card_item_color">
                                        <label>
                                            <input type="radio" name="card_color" class="good_not_style" value="000000">
                                            <span style="background:#000000"></span>
                                        </label>
                                        <label>
                                            <input type="radio" name="card_color" class="good_not_style" value="662d91">
                                            <span style="background:#662d91"></span>
                                        </label>
                                        <label>
                                            <input type="radio" name="card_color" class="good_not_style" value="0000ff">
                                            <span style="background:#0000ff"></span>
                                        </label>
                                        <label>
                                            <input type="radio" name="card_color" class="good_not_style" value="cccccc">
                                            <span style="background:#cccccc"></span>
                                        </label>
                                        <label>
                                            <input type="radio" name="card_color" class="good_not_style" value="f49ac1">
                                            <span style="background:#f49ac1"></span>
                                        </label>
                                        <label>
                                            <input type="radio" name="card_color" class="good_not_style" value="f26522">
                                            <span style="background:#f26522"></span>
                                        </label>
                                        <label>
                                            <input type="radio" name="card_color" class="good_not_style" value="ff0000">
                                            <span style="background:#ff0000"></span>
                                        </label>
                                        <label>
                                            <input type="radio" name="card_color" class="good_not_style" value="603913">
                                            <span style="background:#603913"></span>
                                        </label>
                                        <label>
                                            <input type="radio" name="card_color" class="good_not_style" value="39b54a">
                                            <span style="background:#39b54a"></span>
                                        </label>
                                        <label>
                                            <input type="radio" name="card_color" class="good_not_style" value="fff200">
                                            <span style="background:#fff200"></span>
                                        </label>
                                        <label>
                                            <input type="radio" name="card_color" class="good_not_style" value="6dcff6">
                                            <span style="background:#6dcff6"></span>
                                        </label>
                                        <label>
                                            <input type="radio" name="card_color" class="good_not_style" value="ffffff">
                                            <span style="background:#ffffff"></span>
                                        </label>
                                        <label>
                                            <input type="radio" name="card_color" class="good_not_style" value="f4efd6">
                                            <span style="background:#f4efd6"></span>
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="good_card_item_info_bottom">
                        <p><b>Материал:</b>  74% полиэстер, 19% вискоза, 7% эластан. Подкладка: 100% полиэстер.</p>
                    </div>

                    <div class="good_card_descript">
                        <div class="good_card_descript_item">
                            <p>
                                <b>Описание от продавца:</b>
                                <p>Стильное платье с округлым вырезом горловины. Модель выполнена из качественного материала практичной расцветки. Отличный вариант на каждый день.</p>
                            </p>
                        </div>
                        <div class="good_card_descript_item">
                            <p>
                                <b>Условия покупки:</b>
                                <p>Стильное платье с округлым вырезом горловины. Модель выполнена из качественного материала практичной расцветки. </p>
                            </p>
                        </div>
                    </div>

                    <div class="good_card_buttons">

                        <button type="submit" class="good_button">
                            <span><img src="images/hearth.png" alt="" />Отложить</span>
                        </button>

                        <a href="#" class="good_button good_black">
                            <span>Перейти в магазин</span>
                        </a>

                    </div>


                    <div class="good_card_right_bottom">
                        <p><b>Местонахождение товара:</b> г. Москва, ул. Котова, д. 4, магазин “Корона”</p>
                        <p><a href="#">Посмотреть карту</a></p>
                        <p><b>Время работы:</b> 09.00 -20.00</p>
                    </div>

                </form>
            </div>

        </div>

    </div>
</section>