<div class="good_catalog_items_wrap">
    <div class="good_catalog_item">
        <div class="good_catalog_item_img">
            <a href="#">
                <span class="good_catalog_item_plash">
                    <span>Подробнее</span>
                </span>
                <span class="good_catalog_item_img_wrap">
                    <img src="images/catalog-item-img1.jpg" alt="" />
                </span>
            </a>
            <div class="good_catalog_item_descript">
                <div class="good_catalog_item_name"></div>
                <div class="good_catalog_item_price">
                    <div class="good_catalog_item_price_current">€ 2 430</div>
                </div>
            </div>
        </div>
    </div>
    <div class="good_catalog_item">
        <div class="good_catalog_item_img">
            <a href="#">
                <span class="good_catalog_item_plash">
                    <span>Подробнее</span>
                </span>
                <span class="good_catalog_item_img_wrap">
                    <img src="images/catalog-item-img2.jpg" alt="" />
                </span>
            </a>
            <div class="good_catalog_item_descript">
                <div class="good_catalog_item_name"></div>
                <div class="good_catalog_item_price">
                    <div class="good_catalog_item_price_current">€ 430</div>
                    <div class="good_catalog_item_price_old">€ 2 430</div>
                </div>
            </div>
        </div>
    </div>
    <div class="good_catalog_item">
        <div class="good_catalog_item_img">
            <a href="#">
                <span class="good_catalog_item_plash">
                    <span>Подробнее</span>
                </span>
                <span class="good_catalog_item_img_wrap">
                    <img src="images/catalog-item-img3.jpg" alt="" />
                </span>
            </a>
            <div class="good_catalog_item_descript">
                <div class="good_catalog_item_name"></div>
                <div class="good_catalog_item_price">
                    <div class="good_catalog_item_price_current">€ 2 430</div>
                </div>
            </div>
        </div>
    </div>
    <div class="good_catalog_item">
        <div class="good_catalog_item_img">
            <a href="#">
                <span class="good_catalog_item_plash">
                    <span>Подробнее</span>
                </span>
                <span class="good_catalog_item_img_wrap">
                    <img src="images/catalog-item-img4.jpg" alt="" />
                </span>
            </a>
            <div class="good_catalog_item_descript">
                <div class="good_catalog_item_name"></div>
                <div class="good_catalog_item_price">
                    <div class="good_catalog_item_price_current">€ 2 430</div>
                </div>
            </div>
        </div>
    </div>
    <div class="good_catalog_item">
        <div class="good_catalog_item_img">
            <a href="#">
                <span class="good_catalog_item_plash">
                    <span>Подробнее</span>
                </span>
                <span class="good_catalog_item_img_wrap">
                    <img src="images/catalog-item-img5.jpg" alt="" />
                </span>
            </a>
            <div class="good_catalog_item_descript">
                <div class="good_catalog_item_name"></div>
                <div class="good_catalog_item_price">
                    <div class="good_catalog_item_price_current">€ 2 430</div>
                </div>
            </div>
        </div>
    </div>
    <div class="good_catalog_item">
        <div class="good_catalog_item_img">
            <a href="#">
                <span class="good_catalog_item_plash">
                    <span>Подробнее</span>
                </span>
                <span class="good_catalog_item_img_wrap">
                    <img src="images/catalog-item-img6.jpg" alt="" />
                </span>
            </a>
            <div class="good_catalog_item_descript">
                <div class="good_catalog_item_name"></div>
                <div class="good_catalog_item_price">
                    <div class="good_catalog_item_price_current">€ 2 430</div>
                </div>
            </div>
        </div>
    </div>
    <div class="good_catalog_item">
        <div class="good_catalog_item_img">
            <a href="#">
                <span class="good_catalog_item_plash">
                    <span>Подробнее</span>
                </span>
                <span class="good_catalog_item_img_wrap">
                    <img src="images/catalog-item-img7.jpg" alt="" />
                </span>
            </a>
            <div class="good_catalog_item_descript">
                <div class="good_catalog_item_name"></div>
                <div class="good_catalog_item_price">
                    <div class="good_catalog_item_price_current">€ 2 430</div>
                </div>
            </div>
        </div>
    </div>
    <div class="good_catalog_item">
        <div class="good_catalog_item_img">
            <a href="#">
                <span class="good_catalog_item_plash">
                    <span>Подробнее</span>
                </span>
                <span class="good_catalog_item_img_wrap">
                    <img src="images/catalog-item-img8.jpg" alt="" />
                </span>
            </a>
            <div class="good_catalog_item_descript">
                <div class="good_catalog_item_name"></div>
                <div class="good_catalog_item_price">
                    <div class="good_catalog_item_price_current">€ 2 430</div>
                </div>
            </div>
        </div>
    </div>
</div>