<section class="good_other-items good_catalog-items">
    <div class="good_other-items-wrap">
        <div class="good_mbox">
            <div class="good_items-wrap">
                <a class="good_item" href="#">
                    <div class="good_img" data-hover="Подробнее">
                        <img src="images/catalog-item-img1.jpg" alt="">
                        <div class="good_top"><p>Tоп</p></div>
                    </div>
                    <div class="good_txt">
                        <div class="good_name">Комплекты белья Casmir</div>
                        <div class="good_price"><strike>€ 2 430</strike>€ 430</div>
                    </div>
                </a>
                <a class="good_item" href="#">
                    <div class="good_img" data-hover="Подробнее"><img src="images/catalog-item-img2.jpg" alt=""><div class="good_top"><p>Tоп</p></div></div>
                    <div class="good_txt">
                        <div class="good_name">Комплекты белья Casmir</div>
                        <div class="good_price">€ 2 430</div>
                    </div>
                </a>
                <a class="good_item" href="#">
                    <div class="good_img" data-hover="Подробнее"><img src="images/catalog-item-img3.jpg" alt=""><div class="good_top"><p>Tоп</p></div></div>
                    <div class="good_txt">
                        <div class="good_name">Комплекты белья Casmir</div>
                        <div class="good_price">€ 2 430</div>
                    </div>
                </a>
                <a class="good_item" href="#">
                    <div class="good_img" data-hover="Подробнее"><img src="images/catalog-item-img4.jpg" alt=""><div class="good_top"><p>Tоп</p></div></div>
                    <div class="good_txt">
                        <div class="good_name">Комплекты белья Casmir</div>
                        <div class="good_price">€ 2 430</div>
                    </div>
                </a>
                <a class="good_item" href="#">
                    <div class="good_img" data-hover="Подробнее"><img src="images/catalog-item-img5.jpg" alt=""></div>
                    <div class="good_txt">
                        <div class="good_name">Комплекты белья Casmir</div>
                        <div class="good_price">€ 2 430</div>
                    </div>
                </a>
                <a class="good_item" href="#">
                    <div class="good_img" data-hover="Подробнее"><img src="images/catalog-item-img6.jpg" alt=""></div>
                    <div class="good_txt">
                        <div class="good_name">Комплекты белья Casmir</div>
                        <div class="good_price">€ 2 430</div>
                    </div>
                </a>
                <a class="good_item" href="#">
                    <div class="good_img" data-hover="Подробнее"><img src="images/catalog-item-img7.jpg" alt=""></div>
                    <div class="good_txt">
                        <div class="good_name">Комплекты белья Casmir</div>
                        <div class="good_price">€ 2 430</div>
                    </div>
                </a>
                <a class="good_item" href="#">
                    <div class="good_img" data-hover="Подробнее"><img src="images/catalog-item-img8.jpg" alt=""></div>
                    <div class="good_txt">
                        <div class="good_name">Комплекты белья Casmir</div>
                        <div class="good_price">€ 2 430</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>