<div class="left-column-links">

    <div class="left-column-links-title">Детское</div>

    <div class="left-column-links-wrap">
        <div class="left-column-link-subtitle">
            <a href="#">Новорожденным  (28501)</a>
        </div>

        <div class="left-column-link-list">
            <ul>
                <li>
                    <a href="#">Бельё, купальники  (1501)</a>
                </li>
                <li>
                    <a href="#">Боди, песочники  (1501)</a>
                </li>
                <li>
                    <a href="#">Брюки  (1501)</a>
                </li>
                <li>
                    <a href="#">Верхняя одежда  (1501)</a>
                </li>
                <li>
                    <a href="#">Комбинезоны  (1501)</a>
                </li>
                <li>
                    <a href="#">Конверты  (1501)</a>
                </li>
                <li>
                    <a href="#">Костюмы  (1501)</a>
                </li>
                <li>
                    <a href="#">Кофты  (1501)</a>
                </li>
                <li>
                    <a href="#">Носки, колготки  (1501)</a>
                </li>
                <li>
                    <a href="#">Обувь  (1501)</a>
                </li>
                <li>
                    <a href="#">Одежда для дома  (1501)</a>
                </li>
                <li>
                    <a href="#">Платья, юбки  (1501)</a>
                </li>
                <li>
                    <a href="#">Ползунки  (1501)</a>
                </li>
                <li>
                    <a href="#">Футболки  (1501)</a>
                </li>
                <li>
                    <a href="#">Комплекты  (1501)</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="left-column-links-wrap">
        <div class="left-column-link-subtitle">
            <a href="#">Для девочек  (1501)</a>
        </div>

        <div class="left-column-link-list">
            <ul>
                <li>
                    <a href="#">Брюки  (1501)</a>
                </li>
                <li class="second-level">
                    <span class="second-level-icon"></span>
                    <a href="#">Верхняя одежда  (1501)</a>
                    <ul>
                        <li>
                            <a href="#">Бельё, купальники  (1501)</a>
                        </li>
                        <li>
                            <a href="#">Боди, песочники  (1501)</a>
                        </li>
                        <li>
                            <a href="#">Брюки  (1501)</a>
                        </li>
                        <li>
                            <a href="#">Верхняя одежда  (1501)</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Вечерние платья  (1501)</a>
                </li>
                <li>
                    <a href="#">Джинсы  (1501)</a>
                </li>
                <li>
                    <a href="#">Комбинезоны  (1501)</a>
                </li>
                <li>
                    <a href="#">Костюмы  (1501)</a>
                </li>
                <li>
                    <a href="#">Маскарадные костюмы  (1501)</a>
                </li>
                <li>
                    <a href="#">Кофты, свитера  (1501)</a>
                </li>
                <li>
                    <a href="#">Нижнее бельё  (1501)</a>
                </li>
                <li>
                    <a href="#">Купальники  (1501)</a>
                </li>
                <li>
                    <a href="#">Пижамы и халаты  (1501)</a>
                </li>
                <li>
                    <a href="#">Платья и сарафаны  (1501)</a>
                </li>
                <li>
                    <a href="#">Рубашки  (1501)</a>
                </li>
                <li>
                    <a href="#">Спортивная одежда  (1501)</a>
                </li>
                <li>
                    <a href="#">Футболки  (1501)</a>
                </li>
                <li>
                    <a href="#">Школьная форма  (1501)</a>
                </li>
                <li>
                    <a href="#">Шорты  (1501)</a>
                </li>
                <li>
                    <a href="#">Юбки  (1501)</a>
                </li>
                <li>
                    <a href="#">Другое  (1501)</a>
                </li>
                <li class="second-level">
                    <span class="second-level-icon"></span>
                    <a href="#">Обувь  (1501)</a>
                    <ul>
                        <li>
                            <a href="#">Бельё, купальники  (1501)</a>
                        </li>
                        <li>
                            <a href="#">Боди, песочники  (1501)</a>
                        </li>
                        <li>
                            <a href="#">Брюки  (1501)</a>
                        </li>
                        <li>
                            <a href="#">Верхняя одежда  (1501)</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>

    <div class="left-column-links-wrap">
        <div class="left-column-link-subtitle">
            <a href="#">Для мальчиков  (1501)</a>
        </div>

        <div class="left-column-link-list">
            <ul>
                <li>
                    <a href="#">Брюки  (1501)</a>
                </li>
                <li class="second-level">
                    <span class="second-level-icon"></span>
                    <a href="#">Верхняя одежда  (1501)</a>
                    <ul>
                        <li>
                            <a href="#">Бельё, купальники  (1501)</a>
                        </li>
                        <li>
                            <a href="#">Боди, песочники  (1501)</a>
                        </li>
                        <li>
                            <a href="#">Брюки  (1501)</a>
                        </li>
                        <li>
                            <a href="#">Верхняя одежда  (1501)</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Джинсы  (1501)</a>
                </li>
                <li>
                    <a href="#">Комбинезоны  (1501)</a>
                </li>
                <li>
                    <a href="#">Костюмы  (1501)</a>
                </li>
                <li>
                    <a href="#">Маскарадные костюмы  (1501)</a>
                </li>
                <li>
                    <a href="#">Кофты, свитера  (1501)</a>
                </li>
                <li>
                    <a href="#">Нижнее бельё  (1501)</a>
                </li>
                <li>
                    <a href="#">Пижамы и халаты  (1501)</a>
                </li>
                <li>
                    <a href="#">Плавки  (1501)</a>
                </li>
                <li>
                    <a href="#">Рубашки  (1501)</a>
                </li>
                <li>
                    <a href="#">Спортивная одежда  (1501)</a>
                </li>
                <li>
                    <a href="#">Футболки  (1501)</a>
                </li>
                <li>
                    <a href="#">Школьная форма  (1501)</a>
                </li>
                <li>
                    <a href="#">Шорты  (1501)</a>
                </li>
                <li>
                    <a href="#">Другое  (1501)</a>
                </li>
                <li class="second-level">
                    <span class="second-level-icon"></span>
                    <a href="#">Обувь  (1501)</a>
                    <ul>
                        <li>
                            <a href="#">Бельё, купальники  (1501)</a>
                        </li>
                        <li>
                            <a href="#">Боди, песочники  (1501)</a>
                        </li>
                        <li>
                            <a href="#">Брюки  (1501)</a>
                        </li>
                        <li>
                            <a href="#">Верхняя одежда  (1501)</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="left-column-links-wrap">
        <div class="left-column-link-subtitle">
            <a href="#">Вещи и аксессуары  (1501)</a>
        </div>

        <div class="left-column-link-list">
            <ul>
                <li>
                    <a href="#">Автокресла, переноски  (1501)</a>
                </li>
                <li>
                    <a href="#">Аксессуары для питания  (1501)</a>
                </li>
                <li>
                    <a href="#">Детская мебель  (1501)</a>
                </li>
                <li>
                    <a href="#">Ванночки и предметы г...  (1501)</a>
                </li>
                <li>
                    <a href="#">Игрушки  (1501)</a>
                </li>
                <li>
                    <a href="#">Коляски  (1501)</a>
                </li>
                <li>
                    <a href="#">Постельные принадлеж...  (1501)</a>
                </li>
                <li>
                    <a href="#">Радионяни и видеоняни  (1501)</a>
                </li>
                <li>
                    <a href="#">Другое  (1501)</a>
                </li>
            </ul>
        </div>
    </div>

</div>