<section class="good_options good_options_create_item">

    <div class="good_mbox">

        <h2 class="good_title">Создание товара</h2>

        <div class="good_options_form">
            <form class="good_options_create_form">

                <div class="good_form_title">1. Выберите категорию товара</div>

                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>Категория:</b>
                        </div>
                        <div class="good_options_form_right">
                            <div class="good_options_category_item">
                                <label>
                                    <input type="radio" name="category_radio" value="category_val1" data-service=false />
                                    <span>Женское</span>
                                </label>
                            </div>
                            <div class="good_options_category_item">
                                <label>
                                    <input type="radio" name="category_radio" value="category_val2"data-service=false />
                                    <span>Мужское</span>
                                </label>
                            </div>
                            <div class="good_options_category_item">
                                <label>
                                    <input type="radio" name="category_radio" value="category_val3"data-service=false />
                                    <span>Детское</span>
                                </label>
                            </div>
                            <div class="good_options_category_item">
                                <label>
                                    <input type="radio" name="category_radio" value="category_val4" data-service=true />
                                    <span>Услуги красоты</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>

                <div class="good_form_row">
                    <div class="good_options_left good_no_flex">
                        <div class="good_options_radio_lists_wrap">
                            <div class="good_options_radio_list">
                                <div class="good_options_small_title">Одежда</div>
                                <ul>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Блузки, рубашки</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Брюки</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Верхняя одежда</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Битловки</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Джинсы</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Кардиганы, кофты</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Колготки, носки, чулки</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Комбинезоны</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Костюмы</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="good_options_radio_list">
                                <div class="good_options_small_title">Одежда1</div>
                                <ul>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Блузки, рубашки</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Брюки</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Верхняя одежда</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Битловки</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Джинсы</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Кардиганы, кофты</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Колготки, носки, чулки</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Комбинезоны</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Костюмы</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="good_options_radio_list">
                                <div class="good_options_small_title">Одежда2</div>
                                <ul>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Блузки, рубашки</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Брюки</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Верхняя одежда</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Битловки</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Джинсы</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Кардиганы, кофты</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Колготки, носки, чулки</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Комбинезоны</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Костюмы</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="good_options_radio_list">
                                <div class="good_options_small_title">Услуги красоты</div>
                                <ul>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Косметические услуги</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Маникюр, педикюр</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Массажные услуги</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Наращивание волос</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Наращивание ресничек</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Услуги визажиста</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Услуги парикмахера</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Стрижка бороды</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Услуги фотографа</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Солярий</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" class="good_not_style" name="category_radio" />
                                            <span>Фитнес, йога</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>

                <div class="good_form_title">
                    <div class="good_service_block">
                        2. Основные параметры услуги
                    </div>
                    <div class="good_item_block">
                        2. Основные параметры товара
                    </div>
                </div>

                 <div class="good_form_row">
                     <div class="good_form_attention">
                         <div class="good_form_attention_wrap">
                             <b>Рекомендация. </b>
                             <p>Вы можете заполнять поля только одного, любого языка, но для удобства клиентов и для лучшей индексации Вашего товара, советуем заполнять на двух языках. </p>
                         </div>
                     </div>
                 </div>

                <div class="good_form_row title_leng">
                    <div class="good_options_left">
                        <div class="good_options_form_left">

                        </div>
                        <div class="good_options_form_right">
                            На русском
                        </div>
                    </div>
                    <div class="good_options_right">
                         На латышском
                    </div>
                </div>

                <div class="good_form_row align-top">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>Наименование*:</b>
                        </div>
                        <div class="good_options_form_right">
                            <input type="text" name="create_name" placeholder="Наименование" required="required"/>
                            <span>Введите понятный заголовок, чтобы привлечь покупателя</span>
                        </div>
                    </div>
                    <div class="good_options_right">
                            <input type="text" name="create_name_other_leng" placeholder=""/>
                    </div>
                </div>

                <div class="good_form_row align-top">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <div class="good_item_block">
                                <b>Краткое описание товара:</b>
                            </div>
                            <div class="good_service_block">
                                <b>Краткое описание услуги:</b>
                            </div>
                        </div>
                        <div class="good_options_form_right">
                            <div class="good_options_textarea_wrap good_sumbols_limit">
                                <textarea name="create_deacript"  maxlength="120" placeholder="Пример: Белая женская блузка с длинными рукавами от ProFashion"></textarea>
                                <p>Осталось <span></span> символов</p>
                            </div>
                        </div>
                    </div>
                    <div class="good_options_right">
                        <div class="good_options_textarea_wrap good_sumbols_limit">
                            <textarea name="create_deacript_other_leng"  maxlength="120" placeholder="Piemērs: White sieviešu blūze ar garām piedurknēm no ProFashion"></textarea>
                            <p>Осталось <span></span> символов</p>
                        </div>
                    </div>
                </div>

                <div class="good_form_row align-top">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>
                                Ключевые слова:
                            </b>
                        </div>
                        <div class="good_options_form_right">
                            <div class="good_options_textarea_wrap good_sumbols_limit">
                                <textarea name="create_tag"  maxlength="120" placeholder="блузка s размер, купить белую блузку "></textarea>
                                <p>Осталось <span></span> символов</p>
                            </div>
                            <span>Введите слова через запятую</span>
                        </div>
                    </div>
                    <div class="good_options_right">
                        <div class="good_options_textarea_wrap good_sumbols_limit">
                            <textarea name="create_tag_other_leng"  maxlength="70" placeholder="blūze S izmērs, nopirkt baltu blūzi"></textarea>
                            <p>Осталось <span></span> символов</p>
                        </div>
                    </div>
                </div>

                <div class="good_form_row align-top">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>
                                Детальное описание*:
                            </b>
                        </div>
                        <div class="good_options_form_right">
                            <div class="good_options_textarea_wrap good_sumbols_limit">
                                <textarea name="create_descript_more"  maxlength="120" required="required"></textarea>
                                <p>Осталось <span></span> символов</p>
                            </div>
                            <span>Введите описание товара</span>
                        </div>
                    </div>
                    <div class="good_options_right">
                        <div class="good_options_textarea_wrap good_sumbols_limit">
                            <textarea name="create_descript_more_other_leng"  maxlength="2500" ></textarea>
                            <p>Осталось <span></span> символов</p>
                        </div>
                    </div>
                </div>

                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <div class="good_item_block">
                                <b>Цена товара:</b>
                            </div>
                            <div class="good_service_block">
                                <b>Цена услуги:</b>
                            </div>
                        </div>
                        <div class="good_options_form_right">
                            <div class="good_options_price_main">
                                <div class="good_options_price_wrap">
                                    <input type="tel" name="new_price" class="good_num_only" />
                                    <span class="good_currency">€</span>
                                </div>
                                <div class="good_options_price_wrap">
                                    <span>Старая цена:</span>
                                    <input type="tel" name="old_price" class="good_num_only" />
                                    <span class="good_currency">€</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>

                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <div class="good_item_block">
                                <b>Изображение товара:</b>
                            </div>
                            <div class="good_service_block">
                                <b>Изображение:</b>
                            </div>
                        </div>
                        <div class="good_options_form_right">
                            <a href="#" class="good_file_placeholder good_options_file_foto">
                                <img src="images/options-file-img.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>

                <div class="good_form_row good_options_add_more_img">
                    <div class="good_options_form_left">
                        <div class="good_item_block">
                            <b>Доп. изобраение товара:</b>
                            <p class="good_red_text">(услуга платная 0.25€ )</p>
                        </div>
                        <div class="good_service_block">
                            <b>Доп. изобраение:</b>
                            <p class="good_red_text">(услуга платная 0.25€ )</p>
                        </div>
                    </div>
                    <div class="good_options_form_right">
                        <a href="#" class="good_file_placeholder good_options_file_foto">
                            <img src="images/options-file-img.png" alt="" />
                        </a>
                        <a href="#" class="good_file_placeholder good_options_file_foto">
                            <img src="images/options-file-img.png" alt="" />
                        </a>
                        <a href="#" class="good_file_placeholder good_options_file_foto">
                            <img src="images/options-file-img.png" alt="" />
                        </a>
                        <a href="#" class="good_file_placeholder good_options_file_foto">
                            <img src="images/options-file-img.png" alt="" />
                        </a>
                        <a href="#" class="good_file_placeholder good_options_file_foto">
                            <img src="images/options-file-img.png" alt="" />
                        </a>
                        <a href="#" class="good_file_placeholder good_options_file_foto">
                            <img src="images/options-file-img.png" alt="" />
                        </a>
                    </div>
                </div>

                <div class="good_item_content good_item_block">

                    <div class="good_form_row">
                        <div class="good_options_left">
                            <div class="good_options_form_left">
                                <b>Цвет товара:</b>
                            </div>
                            <div class="good_options_form_right">
                                <div class="good_color_list good_filter_catalog_item_color">
                                    <label>
                                        <input type="checkbox" name="create_color1" class="good_not_style" />
                                        <span style="background:#000000"></span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="create_color2" class="good_not_style" />
                                        <span style="background:#662d91"></span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="create_color3" class="good_not_style" />
                                        <span style="background:#0000ff"></span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="create_color4" class="good_not_style" />
                                        <span style="background:#cccccc"></span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="create_color5" class="good_not_style" />
                                        <span style="background:#f49ac1"></span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="create_color6" class="good_not_style" />
                                        <span style="background:#f26522"></span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="create_color7" class="good_not_style" />
                                        <span style="background:#ff0000"></span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="create_color8" class="good_not_style" />
                                        <span style="background:#603913"></span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="create_color9" class="good_not_style" />
                                        <span style="background:#39b54a"></span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="create_color10" class="good_not_style" />
                                        <span style="background:#fff200"></span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="create_color11" class="good_not_style" />
                                        <span style="background:#6dcff6"></span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="create_color12" class="good_not_style" />
                                        <span style="background:#ffffff"></span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="create_color13" class="good_not_style">
                                        <span style="background:#f4efd6"></span>
                                    </label>
                                    <label>
                                        <input name="create_color14" type="hidden" id="color_value" value="ffffff" onchange="labelColor(this.jscolor)">
                                        <button class="jscolor {valueElement: 'color_value'}"></button>
                                    </label>
                                </div>
                                <div class="good_filter_catalog_item_color_text">
                                     Вы можете выбрать несколько цветов
                                </div>
                            </div>
                        </div>
                        <div class="good_options_right">

                        </div>
                    </div>

                    <div class="good_form_row">
                        <div class="good_options_left">
                            <div class="good_options_form_left">
                                <b>Брэнд*:</b>
                            </div>
                            <div class="good_options_form_right">
                                <input type="text" name="create_brend" required="required" class="good_toggle_required" />
                            </div>
                        </div>
                        <div class="good_options_right"></div>
                    </div>

                    <div class="good_form_row">
                        <div class="good_options_left">
                            <div class="good_options_form_left">
                                <b>Состояние товара:</b>
                            </div>
                            <div class="good_options_form_right">
                                <div class="good_options_status_wrap">
                                    <div class="good_options_status_item">
                                        <label>
                                            <input type="radio" name="create_status" value="create_new" />
                                            <span>Новое</span>
                                        </label>
                                    </div>
                                    <div class="good_options_status_item">
                                        <label>
                                            <input type="radio" name="create_status" value="create_old" />
                                            <span>Б/у</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="good_options_right"></div>
                    </div>

                </div>
<!--
                <div class="good_service_content">

                    <div class="good_form_row">
                        <div class="good_options_left">
                            <div class="good_options_form_left">
                                <b>Город:</b>
                            </div>
                            <div class="good_options_form_right good_service_select">
                                <select name="create_town_select">
                                    <option value="Рига">Рига</option>
                                    <option value="Рига2">Рига2</option>
                                    <option value="Рига3">Рига3</option>
                                </select>
                            </div>
                        </div>
                        <div class="good_options_right">

                        </div>
                    </div>

                    <div class="good_form_row">
                        <div class="good_options_left">
                            <div class="good_options_form_left">
                                <b>Район:</b>
                            </div>
                            <div class="good_options_form_right good_service_select">
                                <select name="create_department_select">
                                    <option value="Иманта">Иманта</option>
                                    <option value="Иманта2">Иманта2</option>
                                    <option value="Иманта3">Иманта3</option>
                                </select>
                            </div>
                        </div>
                        <div class="good_options_right">

                        </div>
                    </div>

                </div> -->

                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>Внешняя ссылка:</b>
                        </div>
                        <div class="good_options_form_right good_form_input_site">
                            <input type="text" name="create_site" />
                        </div>
                    </div>
                    <div class="good_options_right">
                        Если у вас есть интернет магазин вы можете указать ссылку на карточку товара. В случае указания ссылки в карточке товара на данном сайте пояаится ссылка “купить в магазине”.
                    </div>
                </div>

                <div class="good_form_title">3. Размещение товара</div>

                <div class="good_form_row good_form_item_descript_in_shop">

                    <div class="good_options_left">

                        <div class="good_advert_top">
                            <div class="good_advert_start">
                                <div class="good_advert_radio_wrap">
                                    <label>
                                        <input type="radio" name="advert_radio" value="free" class="good_not_style" />
                                        <span class="good_radio_placeholder"></span>
                                    </label>
                                </div>
                                <div class="good_advert_radio_descript">
                                    <div class="good_advert_descript_title">
                                        <b>Бесплатное обьявление</b>
                                    </div>
                                    <div class="good_advert_descript_text">
                                        Бесплатное объявление публикуется сроком на одну неделю и разрешена только одна фотография товара
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="good_advert_bottom">
                            <div class="good_advert_start">
                                <div class="good_advert_radio_wrap">
                                    <label>
                                        <input type="radio" name="advert_radio" value="not_free" class="good_not_style" />
                                        <span class="good_radio_placeholder"></span>
                                    </label>
                                </div>
                                <div class="good_advert_radio_descript">
                                    <div class="good_advert_descript_title">
                                        <b>Платное обьявление</b> (Цена - 25 €)
                                    </div>
                                    <div class="good_advert_descript_text">
                                        Платное обьявление публикуеться сроком на 2 недели и разрешает использовать 8 фотографий
                                    </div>
                                </div>
                            </div>
                            <div class="good_advert_end">
                                <div class="good_advert_end_wrap">
                                    <div class="good_advert_end_wrap_item">
                                        <label>
                                            <div class="good_advert_end_wrap_checkbox">
                                                <input type="checkbox" class="good_checkbox" name="advert_in_top" />
                                            </div>
                                            <div class="good_advert_end_wrap_content">
                                                <div class="good_advert_end_wrap_content_title">
                                                    Держать в топе
                                                </div>
                                                <div class="good_advert_end_wrap_content_text">
                                                    Цена - 25 €
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="good_advert_end_wrap_item">
                                        <label>
                                            <div class="good_advert_end_wrap_checkbox">
                                                <input type="checkbox" class="good_checkbox" name="advert_pick_out" />
                                            </div>
                                            <div class="good_advert_end_wrap_content">
                                                <div class="good_advert_end_wrap_content_title">
                                                    Выделить объявление
                                                </div>
                                                <div class="good_advert_end_wrap_content_text">
                                                    Цена - 25 €
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="good_advert_end_text">Итоговая сумма: 55 €</div>
                            </div>
                        </div>

                    </div>

                    <div class="good_options_right">

                        <div class="good_chosen_advert">

                            <div class="good_chosen_advert_item good_chosen_advert_not_free">

                                <div class="good_chosen_advert_item_title">Выделенное обьявление</div>

                                <div class="good_chosen_advert_item_img">
                                    <img src="images/good_item_img.jpg" alt="" />
                                    <span class="good_top_circle">Топ</span>
                                </div>

                                <div class="good_chosen_advert_item_name">Джемпер Lyle & Scott</div>
                                <div class="good_chosen_advert_price">€ 21</div>

                            </div>

                            <div class="good_chosen_advert_item">

                                <div class="good_chosen_advert_item_title">Бесплатное обьявление</div>

                                <div class="good_chosen_advert_item_img">
                                    <img src="images/good_item_img.jpg" alt="" />
                                </div>

                                <div class="good_chosen_advert_item_name">Джемпер Lyle & Scott</div>
                                <div class="good_chosen_advert_price">€ 21</div>

                            </div>

                        </div>

                    </div>
                </div>

                <div class="good_form_row good_form_item_rules">
                    <label>
                        <input type="checkbox" name="good_form_item_rules" value="yes" class="good_not_style" required="required" />
                        <span class="good_form_item_placeholder"></span>
                    </label>
                    <p> С правилами ознакомлен и <a href="#" target="_blank">согласен с условиями.</a></p>
                </div>

                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_submit_wrap">
                            <button class="good_button" type="submit">
                                <span>Сохранить</span>
                            </button>
                        </div>
                    </div>
                    <div class="good_options_right"></div>
                </div>

            </form>
        </div>

    </div>

</section>