<section class="good_deferred">

    <div class="good_mbox">

        <h2 class="good_title">Отложенные</h2>

        <div class="good_deferred_top">

            <div class="good_deferred_chose_all">
                <label>
                    <input type="checkbox" name="chose_all" class="good_checkbox" />
                    Выбрать все
                </label>
            </div>

            <div class="good_deferred_remove_chosen">
                <button class="good_button" type="button">
                    <span>Удалить выбранные</span>
                </button>
            </div>

        </div>

        <div class="good_other-items">
            <div class="good_items-wrap">
                <div class="good_item">
                    <a class="good_img" data-hover="Подробнее">
                        <img src="images/catalog-item-img1.jpg" alt="" />
                    </a>
                    <div class="good_txt">
                        <div class="good_name"><input type="checkbox" name="chose_item1" class="good_checkbox" />Платье для выпускного Платье для выпускного мини</div>
                        <div class="good_price">€ 2 430</div>
                    </div>
                </div>
                <div class="good_item">
                    <a class="good_img" data-hover="Подробнее">
                        <img src="images/catalog-item-img2.jpg" alt="" />
                    </a>
                    <div class="good_txt">
                        <div class="good_name"><input type="checkbox" name="chose_item2" class="good_checkbox" />Платье для выпускного Платье для выпускного мини</div>
                        <div class="good_price">€ 2 430</div>
                    </div>
                </div>
                <div class="good_item">
                    <a class="good_img" data-hover="Подробнее">
                        <img src="images/catalog-item-img3.jpg" alt="" />
                    </a>
                    <div class="good_txt">
                        <div class="good_name"><input type="checkbox" name="chose_item3" class="good_checkbox" />Платье для выпускного Платье для выпускного мини</div>
                        <div class="good_price">€ 2 430</div>
                    </div>
                </div>
                <div class="good_item">
                    <a class="good_img" data-hover="Подробнее">
                        <img src="images/catalog-item-img4.jpg" alt="" />
                    </a>
                    <div class="good_txt">
                        <div class="good_name"><input type="checkbox" name="chose_item4" class="good_checkbox" />Платье для выпускного Платье для выпускного мини</div>
                        <div class="good_price">€ 2 430</div>
                    </div>
                </div>
                <div class="good_item">
                    <a class="good_img" data-hover="Подробнее">
                        <img src="images/catalog-item-img5.jpg" alt="" />
                    </a>
                    <div class="good_txt">
                        <div class="good_name"><input type="checkbox" name="chose_item5" class="good_checkbox" />Платье для выпускного Платье для выпускного мини</div>
                        <div class="good_price">€ 2 430</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>