<div class="good_filter_catalog">
    <form action="">
        <div class="good_filter_catalog_row">
            <div class="good_filter_catalog_radio_button">
                <div class="good_filter_catalog_title">Тип продажи:</div>
                <div class="good_filter_catalog_radio">
                    <label>
                        <input type="radio" name="prodazi" value="Все" >
                        <span>Все</span>
                    </label>
                    <label>
                        <input type="radio" name="prodazi" value="Магазин" >
                        <span>Магазин</span>
                    </label>
                    <label>
                        <input type="radio" name="prodazi" value="Ручная работа" >
                        <span>Ручная работа</span>
                    </label>
                    <label>
                        <input type="radio" name="prodazi" value="Объявления" >
                        <span>Объявления</span>
                    </label>
                </div>
            </div>
            <div class="good_filter_catalog_radio_button">
                <div class="good_filter_catalog_title">Состояние товара:</div>
                <div class="good_filter_catalog_radio">
                    <label>
                        <input type="radio" name="condition" value="Все" >
                        <span>Все</span>
                    </label>
                    <label>
                        <input type="radio" name="condition" value="Новое" >
                        <span>Новое</span>
                    </label>
                    <label>
                        <input type="radio" name="condition" value="Б/у" >
                        <span>Б/у</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="good_filter_catalog_row next">
            <div class="good_filter_catalog_title good_filter_catalog_item">Фильтр:</div>
            <div class="good_filter_catalog_item">
                <div class="good_filter_catalog_item_subtitl">Цена:</div>
                <div class="good_filter_catalog_item_wrap">
                    <div class="good_filter_catalog_price_range_wrap">
                        <div class="good_filter_catalog_price_range" id="good_filter_catalog_price_range"></div>
                        <span class="good_filter_catalog_price_plus"></span>
                        <span class="good_filter_catalog_price_minus"></span>
                    </div>
                    <input type="text" name="good_filter_catalog_price_range" value="2 500 руб" data-min="0" data-max="10000" data-now-value="2500" data-step="200" data-thousand=" " data-postfix="руб" readonly="readonly" class="good_filter_catalog_price_input">
                </div>
            </div>
            <div class="good_filter_catalog_item">
                <div class="good_filter_catalog_item_subtitl">Цвет:</div>
                <div class="good_filter_catalog_item_wrap">
                    <div class="good_filter_catalog_item_color">
                        <label>
                            <input type="checkbox" name="filter_catalog_color" value="#000000" class="good_filter_catalog_checkbox">
                            <span style="background: #000000;"></span>
                        </label>
                        <label>
                            <input type="checkbox" name="filter_catalog_color" value="#662d91" class="good_filter_catalog_checkbox">
                            <span style="background: #662d91;"></span>
                        </label>
                        <label>
                            <input type="checkbox" name="filter_catalog_color" value="#0000ff" class="good_filter_catalog_checkbox">
                            <span style="background: #0000ff;"></span>
                        </label>
                        <label>
                            <input type="checkbox" name="filter_catalog_color" value="#cccccc" class="good_filter_catalog_checkbox">
                            <span style="background: #cccccc;"></span>
                        </label>
                        <label>
                            <input type="checkbox" name="filter_catalog_color" value="#f49ac1" class="good_filter_catalog_checkbox">
                            <span style="background: #f49ac1;"></span>
                        </label>
                        <label>
                            <input type="checkbox" name="filter_catalog_color" value="#f26522" class="good_filter_catalog_checkbox">
                            <span style="background: #f26522;"></span>
                        </label>
                        <label>
                            <input type="checkbox" name="filter_catalog_color" value="#ff0000" class="good_filter_catalog_checkbox">
                            <span style="background: #ff0000;"></span>
                        </label>
                        <label>
                            <input type="checkbox" name="filter_catalog_color" value="#603913" class="good_filter_catalog_checkbox">
                            <span style="background: #603913;"></span>
                        </label>
                        <label>
                            <input type="checkbox" name="filter_catalog_color" value="#39b54a" class="good_filter_catalog_checkbox">
                            <span style="background: #39b54a;"></span>
                        </label>
                        <label>
                            <input type="checkbox" name="filter_catalog_color" value="#fff200" class="good_filter_catalog_checkbox">
                            <span style="background: #fff200;"></span>
                        </label>
                        <label>
                            <input type="checkbox" name="filter_catalog_color" value="#6dcff6" class="good_filter_catalog_checkbox">
                            <span style="background: #6dcff6;"></span>
                        </label>
                        <label>
                            <input type="checkbox" name="filter_catalog_color" value="#ffffff" class="good_filter_catalog_checkbox">
                            <span style="background: #ffffff;"></span>
                        </label>
                        <label>
                            <input type="checkbox" name="filter_catalog_color" value="#f4efd6" class="good_filter_catalog_checkbox">
                            <span style="background: #f4efd6;"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="good_filter_catalog_item">
                <div class="good_filter_catalog_item_subtitl">Бренд:</div>
                <div class="good_filter_catalog_item_wrap">
                    <div class="good_filter_catalog_item_select">
                        <select  name='' data-placeholder="Выберите бренд" >
                            <option></option>
                            <option value="Бренд 1">Бренд 1</option>
                            <option value="Бренд 2">Бренд 2</option>
                            <option value="Бренд 3">Бренд 3</option>
                            <option value="Бренд 4">Бренд 4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="good_filter_catalog_item">
                <div class="good_filter_catalog_item_subtitl">Размер:</div>
                <div class="good_filter_catalog_item_wrap">
                    <div class="good_filter_catalog_item_select">
                        <select  name='' data-placeholder="Выберите размер" >
                            <option></option>
                            <option value="Размер 1">Размер 1</option>
                            <option value="Размер 2">Размер 2</option>
                            <option value="Размер 3">Размер 3</option>
                            <option value="Размер 4">Размер 4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="good_filter_catalog_item">
                <div class="good_filter_catalog_item_subtitl">Город:</div>
                <div class="good_filter_catalog_item_wrap">
                    <div class="good_filter_catalog_item_select">
                        <select  name='' data-placeholder="Выберите город" >
                            <option></option>
                            <option value="Город 1">Город 1</option>
                            <option value="Город 2">Город 2</option>
                            <option value="Город 3">Город 3</option>
                            <option value="Город 4">Город 4</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>