<div class="good_filter_catalog">
    <form action="">
        <div class="good_filter_catalog_row">
            <div class="good_filter_catalog_radio_button">
                <div class="good_filter_catalog_title">Тип продажи:</div>
                <div class="good_filter_catalog_radio">
                    <label>
                        <input type="radio" name="prodazi" value="Все" >
                        <span>Все</span>
                    </label>
                    <label>
                        <input type="radio" name="prodazi" value="Магазин" >
                        <span>Магазин</span>
                    </label>
                    <label>
                        <input type="radio" name="prodazi" value="Ручная работа" >
                        <span>Ручная работа</span>
                    </label>
                    <label>
                        <input type="radio" name="prodazi" value="Объявления" >
                        <span>Объявления</span>
                    </label>
                </div>
            </div>
            <div class="good_filter_catalog_radio_button">
                <div class="good_filter_catalog_title">Состояние товара:</div>
                <div class="good_filter_catalog_radio">
                    <label>
                        <input type="radio" name="condition" value="Все" >
                        <span>Все</span>
                    </label>
                    <label>
                        <input type="radio" name="condition" value="Новое" >
                        <span>Новое</span>
                    </label>
                    <label>
                        <input type="radio" name="condition" value="Б/у" >
                        <span>Б/у</span>
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>