<div class="good_filter_catalog">
    <form action="">
        <div class="good_filter_catalog_row next">
            <div class="good_filter_catalog_title good_filter_catalog_item">Фильтр:</div>
            <div class="good_filter_catalog_item">
                <div class="good_filter_catalog_item_subtitl">Цена:</div>
                <div class="good_filter_catalog_item_wrap">
                    <div class="good_filter_catalog_price_range_wrap">
                        <div class="good_filter_catalog_price_range" id="good_filter_catalog_price_range"></div>
                        <span class="good_filter_catalog_price_plus"></span>
                        <span class="good_filter_catalog_price_minus"></span>
                    </div>
                    <input type="text" name="good_filter_catalog_price_range" value="2 500 руб" data-min="0" data-max="10000" data-now-value="2500" data-step="200" data-thousand=" " data-postfix="руб" readonly="readonly" class="good_filter_catalog_price_input">
                </div>
            </div>
            <div class="good_filter_catalog_item">
                <div class="good_filter_catalog_item_subtitl">Город:</div>
                <div class="good_filter_catalog_item_wrap">
                    <div class="good_filter_catalog_item_select">
                        <select  name='' data-placeholder="Выберите город" >
                            <option></option>
                            <option value="Город 1">Город 1</option>
                            <option value="Город 2">Город 2</option>
                            <option value="Город 3">Город 3</option>
                            <option value="Город 4">Город 4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="good_filter_catalog_item">
                <div class="good_filter_catalog_item_subtitl">Район:</div>
                <div class="good_filter_catalog_item_wrap">
                    <div class="good_filter_catalog_item_select">
                        <select  name='' data-placeholder="Выберите район" >
                            <option></option>
                            <option value="Район 1">Район 1</option>
                            <option value="Район 2">Район 2</option>
                            <option value="Район 3">Район 3</option>
                            <option value="Район 4">Район 4</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>