<!-- FOOTER -->
    <div class="good_footer_placeholder"></div>
    <footer class="good_footer">

        <div class="good_mbox">
            <div class="good_footer-wrap">

                <div class="good_links-wrap">
                    <ul>
                        <li>
                            <a href="#">Обратная связь</a>
                        </li>
                    </ul>
                </div>
                <div class="good_links-wrap">
                    <ul>
                        <li>
                            <a href="#">о сервисе</a>
                        </li>
                        <li>
                            <a href="#">правила пользования сервисом</a>
                        </li>
                    </ul>
                </div>
                <div class="good_links-wrap">
                    <ul>
                        <li>
                            <a href="#">сотрудничество и реклама</a>
                        </li>
                        <li>
                            <a href="#">вакансии</a>
                        </li>
                    </ul>
                </div>

                <div class="good_footer-right">
                    <div class="good_footer-socials">
                        <a href="#">
                            <img src="images/soc1.png" alt="" />
                        </a>
                        <a href="#">
                            <img src="images/soc2.png" alt="" />
                        </a>
                    </div>
                    <div class="good_footer-copyright">© Goodlook. 2003-2016</div>
                </div>

            </div>
        </div>

    </footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
