<div class="good_look">
    <div class="good_look_wrap">
        <div class="good_grid">
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_1.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_2.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_3.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_4.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары4</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_5.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары5</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_6.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары6</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_7.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары7</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_8.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары8</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_1.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_2.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_3.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_4.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары4</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_5.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары5</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_6.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары6</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_7.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары7</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_8.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары8</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_1.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_2.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_3.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_4.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары4</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_5.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары5</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_6.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары6</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_7.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары7</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
            <div class="good_grid_item">
                <a href="#">
                    <div class="good_img"><img src="images/good_look_8.jpg" alt=""></div>
                    <div class="good_text">
                        <p>Мужские аксессуары8</p>
                        <span>— 2 500 экземпляров —</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>