<div class="good_items_list">
    <div class="good_mbox">
        <div class="good_items_list_wrap">
            <div class="good_center_tab">
                <div class="good_center_tab_title">
                    <p>Товары</p>
                    <a href="#" class="good_button"><span>Продать товар</span></a>
                </div>
                <div class="good_center_tab_list">
                    <ul>
                        <li class="active"><a href="#"><b>Активный 1</b></a></li>
                        <li><a href="#"><b>На модерации 0</b></a></li>
                        <li><a href="#"><b>Отклонённые 1</b></a></li>
                        <li><a href="#"><b>Остановленные 0</b></a></li>
                    </ul>
                </div>
            </div>
            <div class="good_items_list_table">
                <div class="good_score_table">
                    <div class="good_score_table_head">
                        <div class="good_score_table_row">
                            <div class="good_score_table_cell"><input type="checkbox" value="" class="good_checkbox check_all"></div>
                            <a href="#" class="good_button good_black"><span>Фильтр по категориям</span></a>
                        </div>
                    </div>
                    <div class="good_score_table_body">
                        <div class="good_score_table_row">
                            <div class="good_score_table_cell"><input type="checkbox" value="" class="good_checkbox" name="item_1"></div>
                            <div class="good_score_table_cell">30 авг 15.00</div>
                            <div class="good_score_table_cell">
                                <img src="images/good_score_table_cell.png" alt="">
                            </div>
                            <div class="good_score_table_cell">Футболка унисекс камуфляж из хлопка </div>
                            <div class="good_score_table_cell">1900 €</div>
                            <div class="good_score_table_cell">
                                <div class="good_score_button_radio">
                                    <label>
                                        <input type="radio" name="good_score_table_cell_1" class="good_not_style" value="1" checked="true">
                                        <span>В топе</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="good_score_table_cell_1" class="good_not_style" value="2">
                                        <span>Выделить</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="good_score_table_cell_1" class="good_not_style" value="3">
                                        <span>Запустить повторно</span>
                                    </label>
                                </div>
                            </div>
                            <div class="good_score_table_cell">
                                <p>Просмотров: всего <b>120</b>, сегодня <b>18</b></p>
                                <p>Показов: всего <b>240</b>, сегодня <b>75</b></p>
                            </div>
                        </div>
                        <div class="good_score_table_row">
                            <div class="good_score_table_cell"><input type="checkbox" value="" class="good_checkbox" name="item_2"></div>
                            <div class="good_score_table_cell">30 авг 15.00</div>
                            <div class="good_score_table_cell">
                                <img src="images/good_score_table_cell.png" alt="">
                            </div>
                            <div class="good_score_table_cell">Футболка унисекс камуфляж из хлопка2 </div>
                            <div class="good_score_table_cell">1900 €</div>
                            <div class="good_score_table_cell">
                                <div class="good_score_button_radio">
                                    <label>
                                        <input type="radio" name="good_score_table_cell_2" class="good_not_style" value="1" checked="true">
                                        <span>В топе</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="good_score_table_cell_2" class="good_not_style" value="2">
                                        <span>Выделить</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="good_score_table_cell_2" class="good_not_style" value="3">
                                        <span>Запустить повторно</span>
                                    </label>
                                </div>
                            </div>
                            <div class="good_score_table_cell">
                                <p>Просмотров: всего <b>120</b>, сегодня <b>18</b></p>
                                <p>Показов: всего <b>240</b>, сегодня <b>75</b></p>
                            </div>
                        </div>
                        <div class="good_score_table_row">
                            <div class="good_score_table_cell"><input type="checkbox" value="" class="good_checkbox" name="item_3"></div>
                            <div class="good_score_table_cell">30 авг 15.00</div>
                            <div class="good_score_table_cell">
                                <img src="images/good_score_table_cell.png" alt="">
                            </div>
                            <div class="good_score_table_cell">Футболка унисекс камуфляж из хлопка3 </div>
                            <div class="good_score_table_cell">1900 €</div>
                            <div class="good_score_table_cell">
                                <div class="good_score_button_radio">
                                    <label>
                                        <input type="radio" name="good_score_table_cell_3" class="good_not_style" value="1">
                                        <span>В топе</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="good_score_table_cell_3" class="good_not_style" value="2">
                                        <span>Выделить</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="good_score_table_cell_3" class="good_not_style" value="3" checked="true">
                                        <span>Запустить повторно</span>
                                    </label>
                                </div>
                            </div>
                            <div class="good_score_table_cell">
                                <p>Просмотров: всего <b>120</b>, сегодня <b>18</b></p>
                                <p>Показов: всего <b>240</b>, сегодня <b>75</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="good_score_bottom_all">
                        <label>
                            <input type="checkbox" value="" class="good_checkbox" name="item_all" id="good_score_checkbox_all">
                            <span>Для всех</span>
                        </label>
                        <select  name='' data-placeholder="Выберите действие" id="score_bottom_all">
                            <option></option>
                            <option value="В топе">В топе</option>
                            <option value="Выделить">Выделить</option>
                            <option value="Запустить повторно">Запустить повторно</option>
                        </select>
                        <button class="good_button"><span>Применить</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>