<div class="good_customer_reviews">
    <div class="good_mbox">
        <div class="good_customer_reviews_wrap">
            <div class="good_row">
                <div class="good_customer_reviews_img">
                    <div class="good_customer_reviews_img_wrap">
                        <img src="images/good_customer_reviews_1.jpg" alt="">
                    </div>
                </div>
                <div class="good_customer_reviews_description">
                    <div class="good_customer_reviews_name">
                        <b>Марина, 23 марта</b>
                    </div>
                    <div class="good_customer_reviews_text">
                        <p>Я ни когда не думала, что находясь от дома на 4000км, буду чувствовать, как дома. И эту атмосферу уюта и гостеприимства я почувствовала от Васи. Очень интересный человечек. Спасибо тебе дорогой, что принимаешь нас у себя. Я уже скучаю</p>
                    </div>
                    <div class="good_customer_reviews_rating">
                        <div class="good_customer_reviews_rating_item">
                            <b>Товар соответствует описанию:</b>
                            <div class="good_customer_reviews_rating_item_star">
                                <span class="good_star good_active"></span>
                                <span class="good_star good_active"></span>
                                <span class="good_star good_active"></span>
                                <span class="good_star"></span>
                                <span class="good_star"></span>
                            </div>
                        </div>
                        <div class="good_customer_reviews_rating_item">
                            <b> Общение с продавцом:</b>
                            <div class="good_customer_reviews_rating_item_star">
                                <span class="good_star good_active"></span>
                                <span class="good_star"></span>
                                <span class="good_star"></span>
                                <span class="good_star"></span>
                                <span class="good_star"></span>
                            </div>
                        </div>
                    </div>
                    <div class="good_row">
                        <div class="good_customer_reviews_img">
                            <div class="good_customer_reviews_img_wrap">
                                <img src="images/good_customer_reviews_3.jpg" alt="">
                            </div>
                        </div>
                        <div class="good_customer_reviews_description">
                            <div class="good_customer_reviews_name">
                                <b>Василий, 23 марта</b>
                            </div>
                            <div class="good_customer_reviews_text">
                                <p>Сбасибо! Вы самая лушая гостья! Приезжайте снова в следующем году. Я как раз ремонту буду делать, поможете.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="good_customer_reviews_button">
                    <a href="#" class="good_button "><span>Ответить</span></a>
                    <a href="#" class="good_button "><span>Пожаловаться</span></a>
                </div>
            </div>
            <div class="good_row">
                <div class="good_customer_reviews_img">
                    <div class="good_customer_reviews_img_wrap">
                        <img src="images/good_customer_reviews_2.jpg" alt="">
                    </div>
                </div>
                <div class="good_customer_reviews_description">
                    <div class="good_customer_reviews_name">
                        <b>Марина, 23 марта</b>
                    </div>
                    <div class="good_customer_reviews_text">
                        <p>Я ни когда не думала, что находясь от дома на 4000км, буду чувствовать, как дома. И эту атмосферу уюта и гостеприимства я почувствовала от Васи. Очень интересный человечек. Спасибо тебе дорогой, что принимаешь нас у себя. Я уже скучаю</p>
                    </div>
                    <div class="good_customer_reviews_rating">
                        <div class="good_customer_reviews_rating_item">
                            <b>Товар соответствует описанию:</b>
                            <div class="good_customer_reviews_rating_item_star">
                                <span class="good_star good_active"></span>
                                <span class="good_star good_active"></span>
                                <span class="good_star"></span>
                                <span class="good_star"></span>
                                <span class="good_star"></span>
                            </div>
                        </div>
                        <div class="good_customer_reviews_rating_item">
                            <b> Общение с продавцом:</b>
                            <div class="good_customer_reviews_rating_item_star">
                                <span class="good_star good_active"></span>
                                <span class="good_star"></span>
                                <span class="good_star"></span>
                                <span class="good_star"></span>
                                <span class="good_star"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="good_customer_reviews_button">
                    <a href="#" class="good_button "><span>Ответить</span></a>
                    <a href="#" class="good_button "><span>Пожаловаться</span></a>
                </div>
            </div>
        </div>
    </div>
</div>