<div class="good_options_notice">
    <div class="good_mbox">
        <div class="good_options_notice_wrap">
            <form action="" name="good_options_notice" >
                <div class="good_form_row">
                    <p>Выберите, какие уведомления вы хотите получать:</p>
                </div>
                <label class="good_form_row">
                    <div class="good_item_left"><span>Я получаю новый отзыв</span></div>
                    <div class="good_item_right"><input type="checkbox" name="good_options_notice_1" class="good_checkbox"></div>
                </label>
                <label class="good_form_row">
                    <div class="good_item_left"><span>Изменился статус товара из «Отложенных»</span></div>
                    <div class="good_item_right"><input type="checkbox" name="good_options_notice_2" class="good_checkbox"></div>
                </label>
                <label class="good_form_row">
                    <div class="good_item_left"><span>Новостная рассылка</span></div>
                    <div class="good_item_right"><input type="checkbox" name="good_options_notice_3" class="good_checkbox"></div>
                </label>
                <div class="good_form_row good_form_submit">
                    <button type="submit" class="good_button"><span>Сохранить</span></button>
                </div>
            </form>
        </div>
    </div>
</div>