<section class="good_options-panel-white">
    <div class="good_mbox">
        <div class="good_panel">
            <div class="good_left">
                <a href="#"><img src="images/good-panel-item-04.png" alt=""><span>Товары</span></a>
                <a href="#"><img src="images/good-panel-item-03.png" alt=""><span>Счет</span></a>
                <a href="#"><img src="images/good-panel-item-02.png" alt=""><span>Отложенные</span></a>
                <a href="#"><img src="images/good-panel-item-01.png" alt=""><span>Настройки</span></a>
            </div>
            <div class="good_right">
                <div class="good_money">
                    На вашем счёте <b>10,07 €</b>
                </div>
                <div class="good_button">
                    <a href="#"><span>Пополнить</span></a>
                </div>
            </div>
        </div>
    </div>
</section>