<section class="good_options">

    <div class="good_mbox">

        <div class="good_options_descript">
            <div class="good_options_row">
                <div class="good_options_left">
                    Полное и правдивое заполнение страницы продавца — самый простой способ повысить доверие со стороны других пользователей сервиса. Заполните основные данные о себе и загрузите фотографию, на которой хорошо видно ваше лицо.
                </div>
                <div class="good_options_right">
                    <div class="good_options_link">
                        <a href="#">Посмотреть как выглядит на сайте</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="good_options_form">
            <form class="good_options_form_main">
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>Имя или название магазина*</b>
                        </div>
                        <div class="good_options_form_right">
                            <input type="text" name="options_name" placeholder="Ваше имя" required="requred" />
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>Контакты:</b>
                        </div>
                        <div class="good_options_form_right">
                            Контакты отображаются на странице продавца и странице товара.
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>Эл. почта*</b>
                        </div>
                        <div class="good_options_form_right">
                            <input type="email" name="options_email" placeholder="my_male@yandex.ru" required="required" />
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>Телефон:</b>
                        </div>
                        <div class="good_options_form_right">
                            <input type="tel" name="options_tel" placeholder="+7 981 7514534" class="good_tel_mask" />
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>Skype:</b>
                        </div>
                        <div class="good_options_form_right">
                            <input type="text" name="options_skype">
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>Фото продавца:</b>
                        </div>
                        <div class="good_options_form_right">
                            <a href="#" class="good_file_placeholder good_options_file_foto">
                                <img src="images/options-file-img.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>Фоновое изображение:</b>
                        </div>
                        <div class="good_options_form_right">
                            <a href="#" class="good_file_placeholder good_options_file_fon">
                                <img src="images/options-file-img.png" alt="" />
                                <span class="good_options_file_text">Добавте фото</span>
                            </a>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>Условие покупки:</b>
                        </div>
                        <div class="good_options_form_right">
                            <div class="options_textarea_wrap">
                                <textarea name="options_buing_conditions"></textarea>
                                <p>Осталось <span data-max=2500>2500</span> символов</p>
                            </div>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>Условия возврата:</b>
                        </div>
                        <div class="good_options_form_right">
                            <div class="options_textarea_wrap">
                                <textarea name="options_returning_conditions"></textarea>
                                <p>Осталось <span data-max=2500>2500</span> символов</p>
                            </div>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>Способы оплаты:</b>
                        </div>
                        <div class="good_options_form_right">
                            <div class="options_textarea_wrap">
                                <textarea name="payment_methods_conditions"></textarea>
                                <p>Осталось <span data-max=2500>2500</span> символов</p>
                            </div>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>Условие доставки:</b>
                        </div>
                        <div class="good_options_form_right">
                            <div class="good_options_delivery_conditions">
                                <label>
                                    <input type="checkbox" name="options_delivery_conditions" class="good_checkbox" />
                                    <span>Лично</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left"></div>
                        <div class="good_options_form_right">Укажите, где и когда покупатель сможет забрать товар.</div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left"></div>
                        <div class="good_options_form_right">
                            <div class="good_options_form_small_left">
                                Город:
                            </div>
                            <div class="good_options_form_small_right">
                                <select name="options_town">
                                    <option value="Рига">Рига</option>
                                    <option value="Рига2">Рига2</option>
                                    <option value="Рига3">Рига3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left"></div>
                        <div class="good_options_form_right">
                            <div class="good_options_form_small_left">
                                Адрес:
                            </div>
                            <div class="good_options_form_small_right">
                                <input type="text" name="options_adress" />
                            </div>
                        </div>
                    </div>
                    <div class="good_options_right"></div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left"></div>
                        <div class="good_options_form_right">
                            <div class="good_options_form_small_left">
                                Время:
                            </div>
                            <div class="good_options_form_small_right">
                                <input type="tel" name="options_time" class="good_tell_mask" />
                            </div>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left"></div>
                        <div class="good_options_form_right">
                            <label>
                                <input type="checkbox" name="options_delivery_mail" class="good_checkbox" />
                                <span>По почте</span>
                            </label>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left"></div>
                        <div class="good_options_form_right">
                            Укажите, место отправки товара
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left"></div>
                        <div class="good_options_form_right">
                            <input type="text" name="options_delivery_place" class="good_checkbox" />
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">Facebook:</div>
                        <div class="good_options_form_right">
                            <label>
                                <input type="checkbox" name="options_add_facebook" class="good_checkbox" />
                                <span>Подключить виджет сообщества из Facebook</span>
                            </label>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">Instagram:</div>
                        <div class="good_options_form_right">
                            <label>
                                <input type="checkbox" name="options_add_instagram" class="good_checkbox" />
                                <span>Подключить виджет Instagram</span>
                            </label>
                        </div>
                    </div>
                    <div class="good_options_right"></div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_submit_wrap">
                            <button class="good_button" type="submit">
                                <span>Сохранить</span>
                            </button>
                        </div>
                    </div>
                    <div class="good_options_right"></div>
                </div>
            </form>
        </div>

    </div>

</section>