<section class="good_options">
    <div class="good_mbox">

        <div class="good_options_descript">
            <div class="good_options_row">
                <div class="good_options_left">
                    Полное и правдивое заполнение страницы продавца — самый простой способ повысить доверие со стороны других пользователей сервиса. Заполните основные данные о себе и загрузите фотографию, на которой хорошо видно ваше лицо.
                </div>
                <div class="good_options_right">
                    <div class="good_options_link">
                        <a href="#">Посмотреть как выглядит на сайте</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="good_options_form">
            <form class="good_options_form_main">
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>Имя или название магазина*</b>
                        </div>
                        <div class="good_options_form_right">
                            <input type="text" name="options_name" placeholder="Ваше имя" required="requred" />
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            <b>Контакты:</b>
                        </div>
                        <div class="good_options_form_right">
                            Контакты отображаются на странице продавца и странице товара.
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            Эл. почта*
                        </div>
                        <div class="good_options_form_right">
                            <input type="email" name="options_email" placeholder="my_male@yandex.ru" required="required" />
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            Телефон:
                        </div>
                        <div class="good_options_form_right">
                            <input type="tel" name="options_tel" placeholder="+7 981 7514534" class="good_tel_mask" />
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            Skype:
                        </div>
                        <div class="good_options_form_right">
                            <input type="text" name="options_skype">
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            Фото продавца:
                        </div>
                        <div class="good_options_form_right">
                            <input type="file" name="options_foto" class="good_options_file_foto" />
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            Фоновое изображение:
                        </div>
                        <div class="good_options_form_right">
                            <input type="file" name="options_fon" class="good_options_file_fon" />
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            Условие покупки:
                        </div>
                        <div class="good_options_form_right">
                            <div class="options_textarea_wrap">
                                <textarea name="options_buing_conditions"></textarea>
                                <p>Осталось <span data-max=2500>2500</span> символов</p>
                            </div>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            Условия возврата:
                        </div>
                        <div class="good_options_form_right">
                            <div class="options_textarea_wrap">
                                <textarea name="options_returning_conditions"></textarea>
                                <p>Осталось <span data-max=2500>2500</span> символов</p>
                            </div>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">
                            Способы оплаты:
                        </div>
                        <div class="good_options_form_right">
                            <div class="options_textarea_wrap">
                                <textarea name="payment_methods_conditions"></textarea>
                                <p>Осталось <span data-max=2500>2500</span> символов</p>
                            </div>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">Условие доставки:</div>
                        <div class="good_options_form_right">
                            <input type="checkbox" name="options_delivery_conditions" />
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left"></div>
                        <div class="good_options_form_right">Укажите, где и когда покупатель сможет забрать товар.</div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left"></div>
                        <div class="good_options_form_right">
                            <div class="good_options_form_small_left">
                                Город:
                            </div>
                            <div class="good_options_form_small_right">
                                <select name="options_town">
                                    <option value="Рига">Рига</option>
                                    <option value="Рига2">Рига2</option>
                                    <option value="Рига3">Рига3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="good_options_right">
                        <div class="good_options_form_left"></div>
                        <div class="good_options_form_right">
                            <div class="good_options_form_small_left">
                                Адрес:
                            </div>
                            <div class="good_options_form_small_right">
                                <input type="text" name="options_adress" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left"></div>
                        <div class="good_options_form_right">
                            <div class="good_options_form_small_left">
                                Время:
                            </div>
                            <div class="good_options_form_small_right">
                                <input type="tel" name="options_time" class="good_tell_mask" />
                            </div>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left"></div>
                        <div class="good_options_form_right">
                            <label>
                                <input type="checkbox" name="options_delivery_mail" />
                                <span>По почте</span>
                            </label>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left"></div>
                        <div class="good_options_form_right">
                            Укажите, место отправки товара
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left"></div>
                        <div class="good_options_form_right">
                            <input type="text" name="options_delivery_place" />
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">Facebook:</div>
                        <div class="good_options_form_right">
                            <label>
                                <input type="checkbox" name="options_add_facebook" />
                                <span>Подключить виджет сообщества из Facebook</span>
                            </label>
                        </div>
                    </div>
                    <div class="good_options_right">

                    </div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <div class="good_options_form_left">Instagram:</div>
                        <div class="good_options_form_right">
                            <label>
                                <input type="checkbox" name="options_add_instagram" />
                                <span>Подключить виджет Instagram</span>
                            </label>
                        </div>
                    </div>
                    <div class="good_options_right"></div>
                </div>
                <div class="good_form_row">
                    <div class="good_options_left">
                        <button class="good_button" type="submit">
                            <span>Сохранить</span>
                        </button>
                    </div>
                    <div class="good_options_right"></div>
                </div>
            </form>
        </div>

    </div>
</section>