<div class="good_options_change_pass">
    <div class="good_mbox">
        <div class="good_options_change_pass_wrap">
            <form action="" name="good_options_change_pass" >
                <div class="good_form_row">
                    <div class="good_item_left"><span>Старый пароль</span></div>
                    <div class="good_item_right"><input type="text" name="good_old_pass" class="good_old_pass" required="required"></div>
                </div>
                <div class="good_form_row">
                    <div class="good_item_left"><span>Новый пароль</span></div>
                    <div class="good_item_right"><input type="password" name="good_new_pass" class="good_old_pass" id="password" required="required"></div>
                </div>
                <div class="good_form_row">
                    <div class="good_item_left"><span>Новый пароль еще раз</span></div>
                    <div class="good_item_right"><input type="password" name="good_re_new_pass" class="good_old_pass" id="re_password" required="required"></div>
                </div>
                <div class="good_form_row good_form_submit">
                    <button type="submit" class="good_button"><span>Сменить пароль</span></button>
                </div>
            </form>
        </div>
    </div>
</div>