<div class="good_recharge">
    <div class="good_mbox">
        <div class="good_recharge_wrap">
            <div class="good_recharge_title">
                Пополнение баланса
            </div>
            <div class="good_recharge_table">
                <div class="good_recharge_row">
                    <div class="good_recharge_item">
                        <a href="#" class="good_button">
                            <span class="good_icon good_icon_1"></span>
                            <span>Оплатить банковской картой VISA / MasterCard</span>
                        </a>
                    </div>
                    <div class="good_recharge_item">
                        €19.72
                    </div>
                    <div class="good_recharge_item">
                        Размещение товара
                    </div>
                </div>
                <div class="good_recharge_row">
                    <div class="good_recharge_item">
                        <a href="#" class="good_button">
                            <span class="good_icon good_icon_2"></span>
                            <span>Оплатить с помощью SMS</span>
                        </a>
                    </div>
                    <div class="good_recharge_item">
                        €19.72
                    </div>
                    <div class="good_recharge_item">
                        Размещение товара и выделение в топ
                    </div>
                </div>
                <div class="good_recharge_row">
                    <div class="good_recharge_item">
                        <a href="#" class="good_button">
                            <span class="good_icon good_icon_3"></span>
                            <span>Оплатить с личного счета</span>
                        </a>
                    </div>
                    <div class="good_recharge_item">
                        €19.72
                    </div>
                    <div class="good_recharge_item">
                        Размещение товара и выделение в топ
                    </div>
                </div>
            </div>
            <div class="good_recharge_bottom">
                <p>С помощью внутреннего личного счёта вы сможете оперативно оплачивать услуги на Goodlook.lv </p>
                <div class="good_recharge_bottom_form">
                    <form action="" name="good_recharge_bottom_form">
                        <div class="good_recharge_bottom_form_wrap">
                            <div class="good_recharge_bottom_form_item">
                                <span>Внести:</span>
                            </div>
                            <div class="good_recharge_bottom_form_item good_form_row">
                                <input type="number" name="good_recharge_bottom" required="required">
                            </div>
                            <div class="good_recharge_bottom_form_item">
                                <span>€</span>
                            </div>
                            <div class="good_recharge_bottom_form_item">
                                <button class="good_button good_black"><span>Пополнить</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>