<div class="good_score">
    <div class="good_mbox">
        <div class="good_score_wrap">
            <form action="" name="good_score">
                <div class="good_score_title_row good_row_1">
                    <div class="good_score_title">
                        Счёт
                    </div>
                    <a href="#" class="good_button"><span>Пополнить баланс</span></a>
                    <a href="#"><span>Есть промокод?</span></a>
                </div>
                <div class="good_score_title_row good_row_2">
                    <p>С помощью внутреннего счёта вы сможете оперативно оплачивать услуги на Goodlook</p>
                    <p>Пополняйте счёт и оплачивайте услуги с помощью самых разных способов оплаты.</p>
                </div>
                <div class="good_score_title_row good_row_3">
                        <div class="good_score_title">
                            История
                        </div>
                        <div class="good_score_title_select">
                            <select  name='' data-placeholder="Все операции" >
                                <option></option>
                                <option value="Все операции 1">Все операции 1</option>
                                <option value="Все операции 2">Все операции 2</option>
                                <option value="Все операции 3">Все операции 3</option>
                                <option value="Все операции 4">Все операции 4</option>
                            </select>
                        </div>
                        <div class="good_score_title_select">
                            <select  name='' data-placeholder="За все время" >
                                <option></option>
                                <option value="За все время 1">За все время 1</option>
                                <option value="За все время 2">За все время 2</option>
                                <option value="За все время 3">За все время 3</option>
                                <option value="За все время 4">За все время 4</option>
                            </select>
                        </div>
                </div>

                <div class="good_score_table">
                    <div class="good_score_table_head">
                        <div class="good_score_table_row">
                            <div class="good_score_table_cell"><b>Когда </b></div>
                            <div class="good_score_table_cell"><b>ID товара  </b></div>
                            <div class="good_score_table_cell"><b>Фото товара</b></div>
                            <div class="good_score_table_cell"><b>За что   </b></div>
                            <div class="good_score_table_cell"><b> Сколько</b></div>
                        </div>
                    </div>
                    <div class="good_score_table_body">
                        <div class="good_score_table_row">
                            <div class="good_score_table_cell">30 авг 15.00</div>
                            <div class="good_score_table_cell">2521</div>
                            <div class="good_score_table_cell"><img src="images/good_score_table_cell.png" alt=""></div>
                            <div class="good_score_table_cell">Размещение товара. Держать в топе. Выделить.</div>
                            <div class="good_score_table_cell">- 10 €</div>
                        </div>
                    </div>
                </div>
                <div class="good_score_button">
                    <a href="#" class="good_button"><span>Показать больше операций</span></a>
                </div>
            </form>
        </div>
    </div>
</div>