<section class="good_services-items">
    <div class="good_mbox">
        <div class="good_services-items-wrap">
            <a href="#" class="good_services-one-item">
                <div class="good_img">
                    <img src="images/itembla.jpg" alt="">
                    <div class="good_top"><p>Tоп</p></div>
                </div>
                <div class="good_txt">
                    <div class="good_name">Джемпер Lyle & ScottДжемпер Lyle & Scott</div>
                    <div class="good_price">
                        <strike>€ 2 430</strike> € 2 430
                    </div>
                </div>
                <a href="#" class="good_services-one-item">
                    <div class="good_img">
                        <img src="images/itembla.jpg" alt="">
                        <div class="good_top"><p>Tоп</p></div>
                    </div>
                    <div class="good_txt">
                        <div class="good_name">Джемпер Lyle & ScottДжемпер Lyle & Scott</div>
                        <div class="good_price">
                            <strike>€ 2 430</strike> € 2 430
                        </div>
                    </div>
                </a>
                <a href="#" class="good_services-one-item">
                    <div class="good_img">
                        <img src="images/itembla.jpg" alt="">
                        <div class="good_top"><p>Tоп</p></div>
                    </div>
                    <div class="good_txt">
                        <div class="good_name">Джемпер Lyle & ScottДжемпер Lyle & Scott</div>
                        <div class="good_price">
                            <strike>€ 2 430</strike> € 2 430
                        </div>
                    </div>
                </a>
                <a href="#" class="good_services-one-item">
                    <div class="good_img">
                        <img src="images/itembla.jpg" alt="">
                        <div class="good_top"><p>Tоп</p></div>
                    </div>
                    <div class="good_txt">
                        <div class="good_name">Джемпер Lyle & ScottДжемпер Lyle & Scott</div>
                        <div class="good_price">
                            <strike>€ 2 430</strike> € 2 430
                        </div>
                    </div>
                </a>
                <a href="#" class="good_services-one-item">
                    <div class="good_img">
                        <img src="images/itembla.jpg" alt="">
                        <div class="good_top"><p>Tоп</p></div>
                    </div>
                    <div class="good_txt">
                        <div class="good_name">Джемпер Lyle & ScottДжемпер Lyle & Scott</div>
                        <div class="good_price">
                            <strike>€ 2 430</strike> € 2 430
                        </div>
                    </div>
                </a>
                <a href="#" class="good_services-one-item">
                    <div class="good_img">
                        <img src="images/itembla.jpg" alt="">
                        <div class="good_top"><p>Tоп</p></div>
                    </div>
                    <div class="good_txt">
                        <div class="good_name">Джемпер Lyle & ScottДжемпер Lyle & Scott</div>
                        <div class="good_price">
                            <strike>€ 2 430</strike> € 2 430
                        </div>
                    </div>
                </a>
                <a href="#" class="good_services-one-item">
                    <div class="good_img">
                        <img src="images/itembla.jpg" alt="">
                        <div class="good_top"><p>Tоп</p></div>
                    </div>
                    <div class="good_txt">
                        <div class="good_name">Джемпер Lyle & ScottДжемпер Lyle & Scott</div>
                        <div class="good_price">
                            <strike>€ 2 430</strike> € 2 430
                        </div>
                    </div>
                </a>
                <a href="#" class="good_services-one-item">
                    <div class="good_img">
                        <img src="images/itembla.jpg" alt="">
                        <div class="good_top"><p>Tоп</p></div>
                    </div>
                    <div class="good_txt">
                        <div class="good_name">Джемпер Lyle & ScottДжемпер Lyle & Scott</div>
                        <div class="good_price">
                            <strike>€ 2 430</strike> € 2 430
                        </div>
                    </div>
                </a>
                <a href="#" class="good_services-one-item">
                    <div class="good_img">
                        <img src="images/itembla.jpg" alt="">
                        <div class="good_top"><p>Tоп</p></div>
                    </div>
                    <div class="good_txt">
                        <div class="good_name">Джемпер Lyle & ScottДжемпер Lyle & Scott</div>
                        <div class="good_price">
                            <strike>€ 2 430</strike> € 2 430
                        </div>
                    </div>
                </a>
                <a href="#" class="good_services-one-item">
                    <div class="good_img">
                        <img src="images/itembla.jpg" alt="">
                        <div class="good_top"><p>Tоп</p></div>
                    </div>
                    <div class="good_txt">
                        <div class="good_name">Джемпер Lyle & ScottДжемпер Lyle & Scott</div>
                        <div class="good_price">
                            <strike>€ 2 430</strike> € 2 430
                        </div>
                    </div>
                </a>
            </a>
        </div>
    </div>
</section>