<section class="good_services-items">
    <div class="good_mbox">
        <div class="good_services-items-wrap">
            <div class="good_services-one-item">
                <div class="good_img">
                    <div class="good_top"></div>
                </div>
                <div class="good_txt">
                    <div class="good_name">Джемпер Lyle & ScottДжемпер Lyle & Scott</div>
                    <div class="good_price"></div>
                </div>
            </div>
        </div>
    </div>
</section>