<div class="good_left_column_links">

    <div class="good_left_column_links_title">Услуги красоты</div>

    <div class="good_left_column_links_wrap">

        <div class="good_left_column_link_list">
            <ul>
                <li>
                    <a href="#">Косметические услуги  (1501)</a>
                </li>
                <li>
                    <a href="#">Маникюр, педикюр  (1501)</a>
                </li>
                <li>
                    <a href="#">Массажные услуги  (1501)</a>
                </li>
                <li>
                    <a href="#">Наращивание волос  (1501)</a>
                </li>
                <li>
                    <a href="#">Наращивание ресничек  (1501)</a>
                </li>
                <li>
                    <a href="#">Услуги визажиста  (1501)</a>
                </li>
                <li>
                    <a href="#">Услуги парикмахера  (1501)</a>
                </li>
                <li>
                    <a href="#">Стрижка бороды  (1501)</a>
                </li>
                <li>
                    <a href="#">Услуги фотографа  (1501)</a>
                </li>
                <li>
                    <a href="#">Солярий  (1501)</a>
                </li>
                <li>
                    <a href="#">Фитнес, йога  (1501)</a>
                </li>
            </ul>
        </div>
    </div>

</div>