<section class="good_trader-page">
    <div class="good_trader-wrap">
        <div class="good_top"><img src="images/traderBG.jpg" alt=""></div>
        <div class="good_bot">
            <div class="good_mbox">
                <div class="good_img"><img src="images/traderMini.jpg" alt=""></div>
                <div class="good_txt">
                    <div class="good_title">
                        <h3>COMPAGNIA ITALIANA</h3>
                    </div>
                    <div class="good_content">
                        <div class="good_first good_column">
                            <p><b>Дата регистрации:</b>  20.12.14</p>
                            <p><b>Телефон:</b><span class="good_show"> показать</span><span class="good_hide"> показано</span></p>
                            <p><b>Skype:</b> <span class="good_show"> показать</span><span class="good_hide"> показано</span></p>
                            <div class="good_but-wrap"><a href="#" class="good_button good_black"><span>Написать продавцу</span></a></div>
                        </div>
                        <div class="good_column good_second">
                            <p>
                                <b>Рейтинг:</b>
                                <img src="images/good-star-red.png" alt="">
                                <img src="images/good-star-red.png" alt="">
                                <img src="images/good-star-gray.png" alt="">
                                <img src="images/good-star-gray.png" alt="">
                                <img src="images/good-star-gray.png" alt="">
                            </p>
                            <p>
                                <b>Товар соответствует описанию:</b>
                                <img src="images/good-star-black.png" alt="">
                                <img src="images/good-star-black.png" alt="">
                                <img src="images/good-star-gray.png" alt="">
                                <img src="images/good-star-gray.png" alt="">
                                <img src="images/good-star-gray.png" alt="">
                            </p>
                            <p>
                                <b>Общение с продавцом:</b>
                                <img src="images/good-star-blue.png" alt="">
                                <img src="images/good-star-blue.png" alt="">
                                <img src="images/good-star-gray.png" alt="">
                                <img src="images/good-star-gray.png" alt="">
                                <img src="images/good-star-gray.png" alt="">
                            </p>
                            <p><a href="#">Смотреть все отзывы о продавце</a></p>
                        </div>
                        <div class="good_column good_third">
                            <p>
                                <b>Поделиться:</b>
                                <a href="#" target="_blanc"><img src="images/soc1.png" alt=""></a>
                                <a href="#" target="_blanc"><img src="images/soc2.png" alt=""></a>
                                <a href="#" target="_blanc"><img src="images/soc1.png" alt=""></a>
                                <a href="#" target="_blanc"><img src="images/soc2.png" alt=""></a>
                                <a href="#" target="_blanc"><img src="images/soc1.png" alt=""></a>
                                <a href="#" target="_blanc"><img src="images/soc2.png" alt=""></a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
