<section class="good_trader-page">
    <div class="good_trader-wrap">
        <div class="good_top"><img src="images/traderBG.jpg" alt=""></div>
        <div class="good_bot">
            <div class="good_img"><img src="images/traderBG.jpg" alt=""></div>
            <div class="good_txt">
                <div class="good_title">
                    <h3>COMPAGNIA ITALIANA</h3>
                </div>
                <div class="good_content">
                    <div class="good_first">
                        <div class="good_data">Дата регистрации:  20.12.14</div>
                        <div class="good_phone">Телефон:  показать</div>
                        .good
                        Skype:  показать

                    </div>
                    <div class="good_second"></div>
                    <div class="good_third"></div>
                </div>
            </div>
        </div>
    </div>
</section>